<div class="row">
<div class="col-lg-12" ng-if="spinneractive" style="text-align: center">
    <div class="map-change-state">
        <div class="loader"></div>
        <div class="row">
            <h3 class="text-center loader-text">Please wait...</h3>
        </div>
    </div>
</div>
<div class="col-xs-12" ng-if="!spinneractive">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-t-20 margin-b-10">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <span class="pull-right">
                <button class="action-btn action-btn-md action-btn-primary"  data-trigger="hover" data-type="success" data-title="View Patient" bs-tooltip title="print facility details" ng-click="printing()">
                    <i class="fa fa-print"></i>
                </button>
                <button class="action-btn action-btn-md action-btn-primary" onclick="window.history.back()" data-trigger="hover" data-type="success" data-title="View Patient" bs-tooltip title="Go back">
                    <i class="fa fa-arrow-left"></i>
                </button>
            </span>
        </div>
    </div>
    <div ng-if="alert_main">
        <div  class="col-xs-12 fade-content alert alert-danger margin-t-20">
            <p class="lead">Sorry, a server connection error occured.</p>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="!alert_main">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 content-card margin-b-20 fade-content">
        <!-- Important data first displayed here -->
        <div class="col-lg-12">
            <h3 class="fw-500  hidden-xs">
                    <span class="fs-26">{{oneFacility.code}}</span> | {{oneFacility.name}}
            </h3>
            <h4 class="fw-500  visible-xs">
                    <span class="fs-22">{{oneFacility.code}}</span> | {{oneFacility.name}}
            </h4>
            <hr style="border: 1px solid #F0F0F0;">
            <br>
            <h4 class="margin-t--27 fw-500  hidden-xs">
                <span class="pull-left">
                    <label>Type: </label>
                    {{oneFacility.facility_type_name}}
                </span>
            </h4>
            <h5 class="margin-t--27 fw-500  visible-xs">
                <span class="pull-left">
                    <label>Type: </label>
                    {{oneFacility.facility_type_name}}
                </span>
            </h5>
            <br>
            <h4 class=" hidden-xs">
                <div class="pull-left">
                    <p ><b class="fs-15">Status:</b>
                    <span class="fs-15 label label-warning">
                        {{oneFacility.regulatory_status_name}}
                    </span></p>
                </div>
                <span class="pull-right fs-14">
                    <label>Open weekends </label>
                    <span ng-show="oneFacility.open_weekends" class="text-success">
                        <i class="fa fa-check-circle-o fa-1x fs-15"></i>
                    </span>
                    <span ng-hide="oneFacility.open_weekends" class="text-danger">
                        <i class="fa fa-times-circle-o fa-1x fs-15"></i>
                    </span>
                </span>
            </h4>
            <h4 class=" visible-xs">
                <div class="pull-left">
                    <p ><b class="fs-14">Status:</b>
                    <span class="fs-14 label label-warning">
                        {{oneFacility.regulatory_status_name}}
                    </span></p>
                </div>
                <span class="pull-right fs-14">
                    <label>Open weekends </label>
                    <span ng-show="oneFacility.open_weekends" class="text-success">
                        <i class="fa fa-check-circle-o fa-1x fs-15"></i>
                    </span>
                    <span ng-hide="oneFacility.open_weekends" class="text-danger">
                        <i class="fa fa-times-circle-o fa-1x fs-15"></i>
                    </span>
                </span>
            </h4>
            <br>
            <br>
            <h4 class="fs-14 margin-t--15">
                <span class="pull-left">
                    <label>Beds: </label>
                    {{oneFacility.number_of_beds}}
                </span>
                <span class="pull-right">
                    <label>Open 24 hours </label>
                    <span ng-show="oneFacility.open_whole_day" class="text-success">
                        <i class="fa fa-check-circle-o fa-1x fs-15"></i>
                    </span>
                    <span ng-hide="oneFacility.open_whole_day" class="text-danger">
                        <i class="fa fa-times-circle-o fa-1x fs-15"></i>
                    </span>
                </span>
            </h4>
            <br>
            <h4 class="fs-14 margin-t--5">
                <span class="pull-left">
                    <label>Cots: </label>
                    {{oneFacility.number_of_cots}}
                </span>
                <span class="pull-right">
                    <label>Open on public holidays </label>
                    <span ng-show="oneFacility.open_public_holidays" class="text-success">
                        <i class="fa fa-check-circle-o fa-1x fs-15"></i>
                    </span>
                    <span ng-hide="oneFacility.open_public_holidays" class="text-danger">
                        <i class="fa fa-times-circle-o fa-1x fs-15"></i>
                    </span>
                </span>
            </h4>
            <br>
            <!-- Display location details  -->
            <hr style="border: 1px solid #F0F0F0;">
            <h4 class="text-blue fs-18 fw-500  hidden-xs"> <i class="fa fa-map-marker"></i> Location</h4>
            <h4 class="text-blue fs-16 fw-500  visible-xs"> <i class="fa fa-map-marker"></i> Location</h4>
            <br>
            <h4 class="margin-t--15 fs-14 fw-500  hidden-sm hidden-xs">
                <a ui-sref="gis.gis_county({county_id:oneFacility.boundaries.county_boundary,const_boundaries:const_boundaries})">{{oneFacility.county}} COUNTY</a>
                <span class="pull-right">
                    <a ui-sref="gis.gis_county.gis_const({county_id:oneFacility.boundaries.county_boundary,const_boundaries:const_boundaries,const_id:oneFacility.boundaries.constituency_boundary,ward_boundaries:ward_boundaries})">
                        <span class="fs-14 fw-500">{{oneFacility.constituency}} SUB-COUNTY</span>
                    </a>
                </span>
            </h4>
            <h5 class="margin-t--15 fs-14 fw-500  visible-sm visible-xs">
                    {{oneFacility.county}} COUNTY
                <span class="pull-right">
                        {{oneFacility.constituency}} SUB-COUNTY
                </span>
            </h5>
            <br>
            <h4 class="margin-t--15 fs-16 fw-500  hidden-sm hidden-xs">
                <span class="fs-14 fw-500">
                    <a ui-sref="gis.gis_county.gis_const.gis_ward({county_id:oneFacility.boundaries.county_boundary,const_boundaries:const_boundaries,const_id:oneFacility.boundaries.constituency_boundary,const_boundaries:const_boundaries,ward_id:oneFacility.boundaries.ward_boundary})">
                    {{oneFacility.ward_name}} WARD
                    </a>
                </span>
                <span class="pull-right">
                    {{oneFacility.facility_physical_address.town}} town
                </span>
            </h4>
            <h5 class="margin-t--15 fs-14 fw-500 visible-sm visible-xs">
                    {{oneFacility.ward_name}} WARD
                <span class="pull-right">
                {{oneFacility.facility_physical_address.town}} town
                </span>
            </h5>
            <br>
            <h5 class="margin-t--15 fs-14 fw-500" ng-if="oneFacility.facility_physical_address.plot_number !== ''">
                <span class="pull-left" >
                    <label>Plot number: </label>
                    {{oneFacility.facility_physical_address.plot_number}}
                </span>
            </h5>
            <br ng-if="oneFacility.facility_physical_address.plot_number !== ''">
            <h4 class="fs-14 fw-500 margin-t--5" ng-if="oneFacility.location_desc !== ''">
                <p class="lead fs-14">
                    <label>Specific directions: </label>
                    {{oneFacility.location_desc}}
                </p>
            </h4>
            <!-- End of locatin displays -->
        </div>

        </div>
        <!-- Extra details displayed here =========================== -->
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right">
            <div class="col-md-12 results-card margin-b-10">
                <h4 class="fs-18 text-blue fw-500 hidden-xs">
                    <i class="fa fa-user-secret fa-1x"></i>
                    Ownership status
                </h4>
                <h5 class="fs-16 text-blue fw-500 visible-xs">
                    <i class="fa fa-user-secret fa-1x"></i>
                    Ownership status
                </h5>
                <h4 class="fw-500 hidden-xs">
                    <span class="pad-t-5">
                        <h5 class="fs-16 fw-500"><label>Owner: </label> {{oneFacility.owner_name}}</h5>
                        <h5 class="fs-14 fw-500"><label>Category: </label> {{oneFacility.owner_type_name}}</h5>
                    </span>
                </h4>
                <h4 class="fw-500 visible-xs">
                    <span class="pad-t-5">
                        <h5 class="fs-14 fw-500"><label>Owner: </label> {{oneFacility.owner_name}}</h5>
                        <h5 class="fs-13 fw-500"><label>Category: </label> {{oneFacility.owner_type_name}}</h5>
                    </span>
                </h4>
            </div>
            <br><br>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 results-card" ng-if="oneFacility.facility_contacts.length !== 0">
                <h4 class="fs-18 text-blue fw-500 hidden-xs">
                    <i style="border: 1px solid #fff; border-radius : 50%;" class="fa fa-phone fa-1x"></i>
                    Contacts
                </h4>
                <h4 class="fs-16 margin-t--5 text-blue fw-500 visible-xs">
                    <i style="border: 1px solid #fff; border-radius : 50%;" class="fa fa-phone fa-1x"></i>
                    Contacts
                </h4>
                <h4 ng-repeat="cont in oneFacility.facility_contacts" class="fw-500">
                    <span  class="margin-b-10 fs-14 hidden-xs">
                        <label>
                            {{cont.contact_type_name}} :
                        </label>
                        {{cont.contact}}
                    </span>
                    <span  class="margin-b-10 fs-13 visible-xs">
                        <label>
                            {{cont.contact_type_name}} :
                        </label>
                        {{cont.contact}}
                    </span>
                </h4>
                <br>
                <h4 class="margin-t--15 fs-16 hidden-xs" ng-if="oneFacility.facility_physical_address.address !== null">
                    <label>P.O.Box: </label>
                    {{oneFacility.facility_physical_address.postal_code}} - {{oneFacility.facility_physical_address.address}}
                </h4>
                <h4 class="margin-t--15 fs-14 visible-xs" ng-if="oneFacility.facility_physical_address.address !== null">
                    <label>P.O.Box: </label>
                    {{oneFacility.facility_physical_address.postal_code}} - {{oneFacility.facility_physical_address.address}}
                </h4>
            </div>

        </div>
        <!-- End of displaying extra details  -->
    </div>

    <div class="col-xs-12 margin-b-20 margin-t-20" ng-if="!alert_main">
        <!-- Start of tabbed multi step form  -->
            <ul class="nav nav-tabs col-sm-12">
                <li ui-sref-active="active">
                    <a ui-sref=".services">
                        <span class="fw-900">
                            <i class="fa fa-exchange"></i> Facility Services
                        </span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref=".units">
                        <span class="fw-900 ">
                            <i class="fa fa-hospital-o"></i> Community Health Units
                        </span>
                    </a>
                </li>
                <li ui-sref-active="active" class="hidden-sm">
                    <a ui-sref=".map">
                        <span class="fw-900 ">
                            <i class="fa fa-map-marker"></i> Show facility on map
                        </span>
                    </a>
                </li>
            </ul>
            <div class="tab-content margin-t-20">
                <div class="pad-t-20" ui-view="form-view"></div>
            </div><!-- /tab-content -->
        <!-- end of tabbed multistep form -->
    </div>
    </div>
</div>
