<div class="row">
<div class="col-lg-12 margin-t-50" ng-if="spinneractive" style="text-align: center">
    <img src="assets/img/301.GIF">
</div>
<div class="col-lg-12" ng-if="!spinneractive">
    <div class="col-lg-12 margin-t-20 margin-b-10">
        <div class="col-sm-12 col-xs-12 ">
            <span class="pull-right">
                <button class="action-btn action-btn-md action-btn-primary"  data-trigger="hover" data-type="success" data-title="View Patient" bs-tooltip title="print facility details" ng-click="printing()">
                    <i class="fa fa-print"></i>
                </button>
                <button class="action-btn action-btn-md action-btn-primary" onclick="window.history.back()" data-trigger="hover" data-type="success" data-title="View Patient" bs-tooltip title="Go back">
                    <i class="fa fa-arrow-left"></i>
                </button>
            </span>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 results-card">
        <!-- Important data first displayed here -->
        <div class="col-lg-12">
            <h3 class="fw-700  hidden-xs">
                    <span class="fs-26">{{oneFacility.code}}</span> | {{oneFacility.name}}
            </h3>
            <h4 class="fw-700  visible-xs">
                    <span class="fs-22">{{oneFacility.code}}</span> | {{oneFacility.name}}
            </h4>
            <hr style="border: 1px solid #F0F0F0;">
            <br>
            <h4 class="margin-t--27 fw-600  hidden-xs">
                <span class="pull-left">
                    <label>Type: </label>
                    {{oneFacility.facility_type_name}}
                </span>
            </h4>
            <h5 class="margin-t--27 fw-600  visible-xs">
                <span class="pull-left">
                    <label>Type: </label>
                    {{oneFacility.facility_type_name}}
                </span>
            </h5>
            <br>
            <h4 class=" hidden-xs">
                <div class="pull-left">
                    <p ><b class="fs-16">Status:</b>
                    <span class="fs-16 label label-warning">
                        {{oneFacility.regulatory_status_name}}
                    </span></p>
                </div>
                <span class="pull-right fs-16">
                    <label>Open whole week </label>
                    <span ng-show="oneFacility.open_whole_week" class="text-success">
                        <i class="fa fa-check-circle-o fa-1x"></i>
                    </span>
                    <span ng-hide="oneFacility.open_whole_week" class="text-danger">
                        <i class="fa fa-times-circle-o fa-1x"></i>
                    </span>
                </span>
            </h4>
            <h4 class=" visible-xs">
                <div class="pull-left">
                    <p ><b class="fs-13">Status:</b>
                    <span class="fs-14 label label-warning">
                        {{oneFacility.regulatory_status_name}}
                    </span></p>
                </div>
                <span class="pull-right fs-13">
                    <label>Open whole week </label>
                    <span ng-show="oneFacility.open_whole_week" class="text-success">
                        <i class="fa fa-check-circle-o fa-1x"></i>
                    </span>
                    <span ng-hide="oneFacility.open_whole_week" class="text-danger">
                        <i class="fa fa-times-circle-o fa-1x"></i>
                    </span>
                </span>
            </h4>
            <br>
            <br>
            <h4 class="fs-16 margin-t--15  hidden-xs">
                <span class="pull-left">
                    <label>Beds: </label>
                    {{oneFacility.number_of_beds}}
                </span>
                <span class="pull-right">
                    <label>Open whole day </label>
                    <span ng-show="oneFacility.open_whole_day" class="text-success">
                        <i class="fa fa-check-circle-o fa-1x"></i>
                    </span>
                    <span ng-hide="oneFacility.open_whole_day" class="text-danger">
                        <i class="fa fa-times-circle-o fa-1x"></i>
                    </span>
                </span>
            </h4>
            <h5 class="fs-13  visible-xs">
                <span class="pull-left">
                    <label>Beds: </label>
                    {{oneFacility.number_of_beds}}
                </span>
                <span class="pull-right">
                    <label>Open whole day </label>
                    <span ng-show="oneFacility.open_whole_day" class="text-success">
                        <i class="fa fa-check-circle-o fa-1x"></i>
                    </span>
                    <span ng-hide="oneFacility.open_whole_day" class="text-danger">
                        <i class="fa fa-times-circle-o fa-1x"></i>
                    </span>
                </span>
            </h5>
            <br>
            <h4 class="fs-16 margin-t--5 hidden-xs">
                <span class="pull-left">
                    <label>Cots: </label>
                    {{oneFacility.number_of_cots}}
                </span>
                <span class="pull-right">
                    <label>Facility's rating: </label>
                    <span class="fw-600" style="color: #DAA520">
                        {{oneFacility.average_rating | number : 2}}
                    </span>
                </span>
            </h4>
            <h5 class="fs-13   visible-xs">
                <span class="pull-left">
                    <label>Cots: </label>
                    {{oneFacility.number_of_cots}}
                </span>
                <span class="pull-right">
                    <label>Facility's rating: </label>
                    <span class="fw-600" style="color: #DAA520">
                        {{oneFacility.average_rating | number : 2}}
                    </span>
                </span>
            </h5>
            <br>
            <!-- Display location details  -->
            <hr style="border: 1px solid #F0F0F0;">
            <h4 class="text-blue fs-18 fw-700  hidden-xs"> <i class="fa fa-map-marker"></i> Location</h4>
            <h4 class="text-blue fs-16 fw-700  visible-xs"> <i class="fa fa-map-marker"></i> Location</h4>
            <br>
            <h4 class="margin-t--15 fs-14 fw-600  hidden-xs">
                {{oneFacility.county}} COUNTY
                <span class="pull-right">
                    <span class="fs-14 fw-600">{{oneFacility.constituency}} CONSTITUENCY</span>
                </span>
            </h4>
            <h5 class="margin-t--15 fs-14 fw-600  visible-xs">
                {{oneFacility.county}} COUNTY
                <span class="pull-right">
                    {{oneFacility.constituency}} CONSTITUENCY
                </span>
            </h5>
            <br>
            <h4 class="margin-t--15 fs-16 fw-600  hidden-xs">
                <span class="fs-14 fw-600">
                    {{oneFacility.ward_name}} WARD
                </span>
                <span class="pull-right">
                {{oneFacility.facility_physical_address.town}} town
                </span>
            </h4>
            <h5 class="margin-t--15 fs-14 fw-600  visible-xs">
                {{oneFacility.ward_name}} WARD
                <span class="pull-right">
                {{oneFacility.facility_physical_address.town}} town
                </span>
            </h5>
            <br>
            <h4 class="margin-t--15 fs-16 fw-600  hidden-xs" ng-if="oneFacility.facility_physical_address.plot_number !== ''">
                <span class="pull-left" >
                    <label>Plot number: </label>
                    {{oneFacility.facility_physical_address.plot_number}}
                </span>
            </h4>
            <h5 class="margin-t--15 fs-14 fw-600  visible-xs" ng-if="oneFacility.facility_physical_address.plot_number !== ''">
                <span class="pull-left" >
                    <label>Plot number: </label>
                    {{oneFacility.facility_physical_address.plot_number}}
                </span>
            </h5>
            <br ng-if="oneFacility.facility_physical_address.plot_number !== ''">
            <h4 class="margin-t--15 fs-16 fw-600  hidden-xs">
                <label>Specific directions: </label>
                {{oneFacility.location_desc}}
            </h4>
            <h5 class="margin-t--15 fs-14 fw-600  visible-xs">
                <label>Description: </label>
                {{oneFacility.location_desc}}
            </h5>
            <!-- End of locatin displays -->
        </div>

        </div>
        <!-- Extra details displayed here =========================== -->
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right">
            <div class="col-md-12 results-card margin-b-10">
                <h4 class="fs-18 text-blue fw-700 hidden-xs">
                    <i style="border: 1px solid #fff; border-radius : 50%;" class="fa fa-user-secret fa-1x"></i>
                    Ownership status
                </h4>
                <h5 class="fs-16 text-blue fw-500 visible-xs">
                    <i style="border: 1px solid #fff; border-radius : 50%;" class="fa fa-user-secret fa-1x"></i>
                    Ownership status
                </h5>
                <h4 class="fw-500 hidden-xs">
                    <span class="pad-t-5">
                        <h5 class="fs-16 fw-600"><label>Owner: </label> {{oneFacility.owner_name}}</h5>
                        <h5 class="fs-14 fw-500"><label>Category: </label> {{oneFacility.owner_type_name}}</h5>
                    </span>
                </h4>
                <h4 class="fw-500 visible-xs">
                    <span class="pad-t-5">
                        <h5 class="fs-14 fw-600"><label>Owner: </label> {{oneFacility.owner_name}}</h5>
                        <h5 class="fs-13 fw-500"><label>Category: </label> {{oneFacility.owner_type_name}}</h5>
                    </span>
                </h4>
            </div>
            <br><br>
            <div class="col-md-12 results-card">
                <h4 class="fs-18 text-blue fw-700 hidden-xs">
                    <i style="border: 1px solid #fff; border-radius : 50%;" class="fa fa-phone fa-1x"></i>
                    Contacts
                </h4>
                <h4 class="fs-16 margin-t--5 text-blue fw-600 visible-xs">
                    <i style="border: 1px solid #fff; border-radius : 50%;" class="fa fa-phone fa-1x"></i>
                    Contacts
                </h4>
                <h4 ng-repeat="cont in oneFacility.facility_contacts" class="fw-500">
                    <span  class="margin-b-10 fs-14 hidden-xs">
                        <label>
                            {{cont.contact_type_name}} :
                        </label>
                        {{cont.contact}}
                    </span>
                    <span  class="margin-b-10 fs-13 visible-xs">
                        <label>
                            {{cont.contact_type_name}} :
                        </label>
                        {{cont.contact}}
                    </span>
                </h4>
                <br>
                <h4 class="margin-t--15 fs-16 hidden-xs" ng-if="oneFacility.facility_physical_address.address !== null">
                    <label>P.O.Box: </label>
                    {{oneFacility.facility_physical_address.postal_code}} - {{oneFacility.facility_physical_address.address}}
                </h4>
                <h4 class="margin-t--15 fs-14 visible-xs" ng-if="oneFacility.facility_physical_address.address !== null">
                    <label>P.O.Box: </label>
                    {{oneFacility.facility_physical_address.postal_code}} - {{oneFacility.facility_physical_address.address}}
                </h4>
            </div>

        </div>
        <!-- End of displaying extra details  -->
    </div>
    <!-- Start of displaying services -->
    <div class="col-lg-12">
    <div class="col-lg-12 results-card margin-b-20 margin-t-20">
        <h4 class="text-blue fs-18 fw-700 margin-t-5  hidden-xs pad-l-15"> <i class="fa fa-exchange"></i> Services</h4>
        <h4 class="text-blue fs-16 fw-700 margin-t-5  visible-xs pad-l-15">  <i class="fa fa-exchange"></i> Services</h4>
        <div class="col-lg-12">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 margin-b-20" ng-repeat="service in oneFacility.facility_services">
                <h4 class="fs-18 fw-700 hidden-xs">
                    {{$index + 1}}.&nbsp;{{service.service_name}}
                </h4>
                <h4 class="fs-16 fw-700 visible-xs">
                    {{$index + 1}}.&nbsp;{{service.service_name}}
                </h4>
                <h4>
                    <label class="fs-14 fw-600">Category: </label>
                    <span class="fs-14 fw-600">{{service.category_name}}</span>
                </h4>
                <h4>
                    <span class="pull-left">
                        <label class="fs-14 fw-600">Average rating: </label>
                        <span class="fs-14 fw-600">{{service.average_rating | number : 2}} <i style="color: #FFD700" class="fa fa-star-o"></i></span>
                    </span>
                </h4>
                <br>
                <h4>
                    <span class="pull-left fs-13">
                        <label>Number of ratings: </label>
                        {{service.number_of_ratings}}
                    </span>
                </h4>
                <br>
                <h4>
                     <span class="pull-left fs-13 margin-t-5 class-rate">
                        <label>Rate facility's service</label>
                        <span>
                            <!-- Testing rating directive -->
                            <span class="fs-10" ng-repeat="rating in service.ratings">
                            <!-- {{rating.current}} out of{{rating.max}} -->
                            <div star-rating rating-value="rating.current" max="rating.max" on-rating-selected="getSelectedRating(rating, service.id, service)"></div>
                            </span>
                    <!-- End of rating directive -->
                        </span>
                        <span ng-bind-html="alert"></span>
                    </span>
                    <span class="pull-left" ng-if="service.spinner">
                        <img src="assets/img/ajax-loader.gif" style="font-size: 10px; width: 20px height: 20px;">
                    </span>
                </h4>
            </div>
        </div>
    </div>
    </div>
    <!-- End of displaying services -->
    </div>
</div>
