<div class="col-xs-12 margin-b-20 content-card fade-content">
<div class="alert alert-info margin-t-10 margin-r-20" ng-if="chus.length === 0">
    <p class="lead fs-16 fw-600" >
       <i class="fa fa-info-circle"></i> Facility Community Health Units Currently Unavailable
    </p>
</div>
<div class="col-xs-12 margin-t-20 margin-b-20" ng-if="chus.length !== 0">
    <table class="table fs-14 table-hover table-stripped">
        <thead>
            <th class="col-xs-3">Name</th>
            <th class="col-xs-3">Code</th>
            <th class="col-xs-4">Status</th>
            <th class="text-center col-xs-2">Monitored Households</th>
            <th></th>
        </thead>
        <tbody class="lato">
            <tr ng-repeat="unit in chus">
                <td class="pad-t-15">
                    <a ui-sref="chul_view({unit_id:unit.id})">{{unit.name}}</a>
                </td>
                <td class="pad-t-15">
                    {{unit.code}}
                </td>
                <td class="pad-t-15">
                    {{unit.status_name}}
                </td>
                <td class="pad-t-15 text-center">
                    {{unit.households_monitored}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
