
.navbar-default {
  background-color: #30709B;

}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-fixxed-bottom {
    color: #fff;
    background-color: transparent;
}

body {
font-family: "Raleway", Lucida Sans Unicode, Verdana, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.bs-header-img {
 background-image: url(img/medical.jpg);
}

.bs-header {
  padding: 30px 15px 40px;
  font-size: 16px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.bs-docs-home, .bs-header {
  color: #fff;
  background-color: #318ECC;
}

.form-group {
  margin-bottom: 15px;
  margin-top: 10px;x;
 }
body > section.grey-area {
   background-color: #eee;
}


section {
    padding: 45px 0;
}

.section-heading {
    margin: 30px 0;
    font-size: 4em;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}

section.map {
    padding: 1px 0;
    min-height: 500px;
    overflow: hidden;
}

#fotter-txt{
    color: #fff;
}

footer {
    display: block;
}
footer.page-footer {
  background-color: #318ECC; 
}
footer.page-footer .footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.8);
    background-color: #30709B; 
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
    background-color: #fff;
}
.card span.card-title {
    color: #30709B;
    padding: 16px;
    line-height: 40px;
}

.card .card-panel {
  position: relative;
  overflow: hidden;
}
.card .card-panel img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
}
.card .card-panel span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}
.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.card .card-action a {
  color: #30709B;
  margin-right: 16px;
  transition: color 0.3s ease;
}
.card .card-action a:hover {
  color: #30709B;
  text-decoration: none;
}