
.navbar-default {
  background-color: #30709B;

}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-fixxed-bottom {
    color: #fff;
    background-color: transparent;
}
#fotter-txt{
    color: #fff;
}

body {
font-family: "Raleway", Lucida Sans Unicode, Verdana, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
.bs-header {
  padding: 30px 15px 40px;
  font-size: 16px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.bs-docs-home, .bs-header {
  color: #fff;
  background-color: #318ECC;
}

.form-group {
  margin-bottom: 15px;
  margin-top: 10px;x;
 }
body > section.map {
   background-color: #eee;
}

