<div class="row">
    <div class="col-lg-12" ng-hide="search_results">
        <div class="col-lg-12 margin-t-20 margin-b-10">

            <p class="lead text-left">
                <span class="fs-18 fw-700" style="font-family: Lato Light"
                ng-if="!no_search_query">
                    <i class="fa fa-building"></i> Facilities
                </span>
                <span ng-if="no_search_query">
                    Showing <span> <em>{{hits}}</em></span> result(s)
                    <span class="text-danger" ng-if="filter.serach">
                       for {{filter.search}}
                    </span>
                </span>
                <span class="pull-right">
                    <!-- <button class="login-btn login-btn-primary">
                        Excel export <i class="fa fa-file-excel-o"></i>
                    </button> -->
                    <a class="action-btn action-btn-md action-btn-primary" data-trigger="hover" data-type="success" data-title="View Patient" bs-tooltip title="Excel export" ng-click="excelExport()" target="download" download >
                        <i class="fa fa-file-excel-o"></i>
                    </a>
                    <!-- <button class="action-btn action-btn-md action-btn-primary" data-trigger="hover" data-type="success" data-title="View Patient" bs-tooltip title="Print search results" >
                        <i class="fa fa-print"></i>
                    </button> -->
                    <button class="action-btn action-btn-md action-btn-primary" onclick="window.history.back()">
                        <i class="fa fa-arrow-left"></i>
                    </button>
                </span>
            </p>
        </div>
    </div>
    <div class="col-lg-12 margin-b-20">
            <div class="col-lg-4 col-md-4 hidden-sm hidden-xs" >
                <div class="col-lg-12 col-md-12 content-card">
                <!-- Start of advanced filter form ===================-->
                <h4>Advanced search</h4>
                    <form role="form" class="form-horizontal form-bordered" name="mfl.filters.form">
                    <div class="form-group">
                        <div class="group">
                            <input type="text" ng-model="filter.search" name="search"   required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>
                                <i class="fa fa-search"></i> Search
                            </label>
                        </div>
                        <div class="group">

                            <input type="text" ng-model="filter.name" name="name"   required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>
                                Name
                            </label>
                        </div>
                        <div class="group">
                            <input ng-model="filter.description" name="description" type="text" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>
                                Description
                            </label>
                        </div>

                        <div class="group">
                         <div class="">
                            <div class="multiselect-div" ng-dropdown-multiselect="" events="events.county"  options="filter_data.county" selected-model="filter.county"
                            extra-settings="dropDownSettings" translation-texts="selectTitles.county"></div>
                       </div>
                       </div>
                       <div class="group">
                           <div class=" ">
                                <div class="multiselect-div" ng-dropdown-multiselect="" events="events.constituency"  options="filter_data.constituency" selected-model="filter.constituency"
                                extra-settings="dropDownSettings" translation-texts="selectTitles.constituency"></div>
                           </div>
                       </div>

                       <div class="group" ng-hide="disabled.ward">
                           <div class=" ">
                                <div class="multiselect-div" ng-dropdown-multiselect=""  options="filter_data.ward" selected-model="filter.ward"
                                extra-settings="dropDownSettings" translation-texts="selectTitles.ward"></div>
                           </div>
                       </div>


                       <div class="group">
                           <div class=" ">
                                <div class="multiselect-div" ng-dropdown-multiselect=""  options="filter_data.operation_status" selected-model="filter.operation_status"
                                extra-settings="dropDownSettings" translation-texts="selectTitles.operation_status"></div>
                           </div>
                       </div>

                       <div class="group">
                           <div class="">
                                <div class="multiselect-div" ng-dropdown-multiselect=""  options="filter_data.facility_type" selected-model="filter.facility_type"
                                extra-settings="dropDownSettings" translation-texts="selectTitles.facility_type"></div>
                           </div>
                       </div>
                       <div class="group">
                           <input type="text" ng-model="filter.number_of_beds" required>
                           <span class="highlight"></span>
                           <span class="bar"></span>
                           <label>
                               Number of beds
                           </label>
                       </div>
                        <div class="group">
                           <input type="text" ng-model="filter.number_of_cots" required>
                           <span class="highlight"></span>
                           <span class="bar"></span>
                           <label>
                               Number of cots
                           </label>
                       </div>

                        <div class="checkbox-group margin-t-10">
                            <input name="open_whole_day" ng-model="filter.open_whole_day" type="checkbox" id="open_whole_day">
                            <label for="open_whole_day">
                                <span class="check"></span>
                                <span class="box"></span>
                                 Open whole day
                             </label>
                        </div>

                        <div class="checkbox-group margin-t-10">
                            <input name="is_classified" ng-model="filter.is_classified" type="checkbox" id="is_classified">
                            <label for="is_classified">
                                <span class="check"></span>
                                <span class="box"></span>
                                 Is classified
                             </label>
                        </div>

                        <div class="checkbox-group margin-t-10">
                            <input name="is_published" ng-model="filter.is_published" type="checkbox" id="is_published">
                            <label for="is_published">
                                <span class="check"></span>
                                <span class="box"></span>
                                 Is published
                             </label>
                        </div>

                        <div class="checkbox-group margin-t-10">
                            <input name="is_regulated" ng-model="filter.is_regulated" type="checkbox" id="is_regulated">
                            <label for="is_regulated">
                                <span class="check"></span>
                                <span class="box"></span>
                                 Is Regulated
                             </label>
                        </div>

                        <div class="checkbox-group margin-t-10">
                            <input name="is_active" ng-model="filter.is_active" type="checkbox" id="is_active">
                            <label for="is_active">
                                <span class="check"></span>
                                <span class="box"></span>
                                 Is Active
                             </label>
                        </div>

                    </div>
                 </form>
                 <div>
                    <button class="login-btn login-btn-primary" ng-click="filterFacility(filter)"><i class="fa fa-filter"></i> Filter </button>
                </div>
                </div>
                <!-- End of advanced filter form ======================-->
            </div>

            <!-- ng-class="class.large"> -->
            <div class="col-lg-8 col-md-8 search-results" >
                <div class="col-lg-12" ng-if="alert">
                    <div class="alert alert-danger">
                        <p ng-bind-html="alert"></p>
                    </div>
                </div>
                <div class="col-lg-12 content-card" ng-show="no_result">
                    <p class="lead">
                        Oops!! Sorry no match for the query <span class="text-danger">{{query}}</span>. Try the advanced search.
                    </p>
                </div>
                <div class="col-lg-12 margin-t-250 margin-b-100" ng-if="spinneractive" style="text-align: center">
                    <img src="assets/img/301.GIF">
                </div>
                <div class="col-md-12 results-card" ng-repeat="fac in query_results" ng-if="!spinneractive">
                        <div class="col-lg-12">
                            <a ui-sref="rating({fac_id : fac.id})" data-trigger="hover" data-type="success" data-title="View Patient" bs-tooltip title="Click to view facility details">
                                <h5 class="search-resulthead">
                                    <span class="fw-700 fs-18 pull-left" style="cursor: pointer">
                                       <span class="fw-900 fs-20"> {{fac.code}} </span> | {{fac.name}}
                                    </span>
                                </h5>

                            </a>
                            <br>
                            <h5>
                                <span class="pull-left fs-16">
                                    <label>Status: </label>
                                    <span class="text-blue fw-700">{{fac.regulatory_status_name}}</span>
                                </span>
                                <span class="pull-right">
                                    <span class="fs-14 fw-600 label label-primary">{{fac.facility_type_name}}
                                    </span>
                                </span>
                            </h5>
                            <br>
                            <h5 class="margin-t-10 fw-700" style="color:#000;">
                                <span class="pull-left fs-15">
                                     {{fac.county}} COUNTY
                                </span>
                                <span class="pull-right" data-trigger="hover" data-type="success" data-title="View Patient" bs-tooltip title="Facility owner">
                                    <i class="fa fa-user-secret"></i> {{fac.owner_name}}
                                </span>
                            </h5>
                            <br>
                            <p class="margin-b-30 margin-t-5">
                                <span class="pull-left fs-14 fw-400">
                                 {{fac.constituency}} CONSTITUENCY
                                </span>
                                <span class="pull-right fs-13 fw-400">
                                    {{fac.ward_name}} WARD
                                </span>
                            </p>
                        </div>
                </div>
                <mfl-pagination></mfl-pagination>
            </div>
    </div>
</div>
