<div class="row">
    <div class="col-lg-12" ng-hide="search_results">
        <div class="col-lg-12 margin-t-20 margin-b-10">
            <p class="lead text-left">
                Showing results for <span class="text-danger">{{query}}

                <span class="pull-right">
                    <!-- <button class="login-btn login-btn-primary">
                        Excel export <i class="fa fa-file-excel-o"></i>
                    </button> -->
                    <a class="action-btn action-btn-md action-btn-primary" data-trigger="hover" data-type="success" data-title="View Patient" bs-tooltip title="Excel export" ng-click="excelExport()" target="download" download >
                        <i class="fa fa-file-excel-o"></i>
                    </a>
                    <!-- <button class="action-btn action-btn-md action-btn-primary" data-trigger="hover" data-type="success" data-title="View Patient" bs-tooltip title="Print search results" >
                        <i class="fa fa-print"></i>
                    </button> -->
                    <button class="action-btn action-btn-md action-btn-primary" onclick="window.history.back()">
                        <i class="fa fa-arrow-left"></i>
                    </button>
                </span>
            </p>
        </div>
    </div>
    <div class="col-lg-12 margin-b-20">


            <div class="col-lg-4" >
                <div class="col-lg-12 col-md-12 content-card">
                <!-- Start of advanced filter form ===================-->
                <h4>Advanced search</h4>
                    <form role="form" class="form-horizontal form-bordered" name="mfl.filters.form">
                    <div class="form-group">
                        <!-- <div class="input-group input-group-in"> -->
                        <div class="group">
                            <!-- <span class="input-group-addon text-silver">Name: </span> -->
                            <!-- <input ng-model="filter.name" name="name" type="text" class="form-control"  autocomplete="off"> -->

                            <input ng-model="filter.name" name="name" type="text"   autocomplete="off" placeholder="Name..">
                        </div>
                        <div class="group">
                            <!-- <span class="input-group-addon text-silver">Description: </span> -->
                            <input ng-model="filter.description" name="description" type="text"   autocomplete="off" placeholder="Description...">
                        </div>

                         <div class="input-group ">
                            <span class="">County: </span> <br/>
                            <ui-select multiple ng-model="filter.county"
                            close-on-select="true" theme="select2" sortable="true" name="county" style="width:350px;">
                                 <ui-select-match placeholder="Select County">
                                        {{$item.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="county in filter_data.county">
                                    <div ng-bind-html="county.name| highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>


                        <div class="input-group ">
                            <span class="">Constituency:</span> <br/>
                            <ui-select multiple name="constituency" ng-model="filter.constituency"
                            close-on-select="true" theme="select2" sortable="true" style="width:350px;">
                                 <ui-select-match placeholder="Select County">
                                        {{$item.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="consti in filter_data.constituency">
                                     <div ng-bind-html="consti.name| highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="input-group" ng-hide="disabled.ward">
                            <span class="">Ward:</span> <br/>
                            <ui-select multiple name="ward" ng-model="filter.ward" ng-disabled="disabled.ward"
                            close-on-select="true" theme="select2" sortable="true" style="width:350px;">
                                 <ui-select-match placeholder="Select Ward">
                                        {{$item.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="ward in filter_data.ward track by $index | propsFilter: {name: $select.search} ">
                                     <div ng-bind-html="ward.name| highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="input-group">
                            <span class="">Operation Status: </span> <br/>
                            <ui-select multiple ng-model="filter.operation_status"
                            close-on-select="true" theme="select2" sortable="true" name="operation_status" style="width:350px;">
                                 <ui-select-match placeholder="Select Operation Status">
                                        {{$item.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="status in filter_data.operation_status track by $index | propsFilter: {name: $select.search}">
                                    <div ng-bind-html="status.name| highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="input-group ">
                            <span class="">Facility Type: </span> <br/>
                            <ui-select multiple ng-model="filter.facility_type"
                            close-on-select="true"  theme="select2" sortable="true" name="facility_type" style="width:350px;">
                                 <ui-select-match placeholder="Select Operation Status">
                                        {{$item.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="typ in filter_data.facility_type | propsFilter: {name: $select.search}">
                                    <div ng-bind-html="typ.name| highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>


                        <div class="input-group">
                            <span class="control-label">Number of Beds: </span><br/>

                            <ui-select multiple name="number_of_beds" ng-model="filter.number_of_beds"
                            close-on-select="true"  theme="select2" sortable="true"  style="width:350px;">
                                 <ui-select-match placeholder="Beds Number">
                                        {{$item}}
                                </ui-select-match>
                                <ui-select-choices repeat="number in numbers | filter: $select.search">
                                    {{number}}
                                </ui-select-choices>
                            </ui-select>

                        </div>

                        <div class="input-group">
                            <span class="control-label">Number of Cots: </span><br/>

                            <ui-select multiple name="number_of_cots" ng-model="filter.number_of_cots"
                            close-on-select="true"  theme="select2" sortable="true"  style="width:350px;">
                                 <ui-select-match placeholder="Cots Number">
                                        {{$item}}
                                </ui-select-match>
                                <ui-select-choices repeat="number in numbers | filter: $select.search">
                                    {{number}}
                                </ui-select-choices>
                            </ui-select>

                        </div>

                        <div class="input-group input-group-in">
                            <span class="input-group-addon text-silver">Open Whole Day: </span>
                            <input name="open_whole_day" ng-model="filter.open_whole_day" type="checkbox" class="form-control" >
                        </div>

                        <div class="input-group input-group-in">
                            <span class="input-group-addon text-silver">Is Classified: </span>
                            <input name="is_classified" ng-model="filter.is_classified" type="checkbox" class="form-control">
                        </div>

                        <div class="input-group input-group-in">
                            <span class="input-group-addon text-silver">Is Published: </span>
                            <input name="is_published" ng-model="filter.is_published" type="checkbox" class="form-control">
                        </div>

                        <div class="input-group input-group-in">
                            <span class="input-group-addon text-silver">Is Regulated: </span>
                            <input name="is_regulated" ng-model="filter.is_regulated" type="checkbox" class="form-control" >
                        </div>

                        <div class="input-group input-group-in">
                            <span class="input-group-addon text-silver">Is Active: </span>
                            <input name="is_active" ng-model="filter.is_active" type="checkbox" class="form-control" >
                        </div>

                    </div>
                 </form>
                 <div>
                    <button class="btn btn-primary" ng-click="filterFacility(mfl.filters.form)">Filter </button>
                </div>
                </div>
                <!-- End of advanced filter form ======================-->
            </div>


            <div class="col-lg-8 search-results" >
                <div class="col-lg-12 pull-right margin-t-50 search-loader" ng-show="search_results" style="text-align: center">
                    <img src="assets/img/301.GIF">
                </div>
                <div class="col-lg-12" ng-if="err !== ''">
                    <div class="alert alert-danger">
                        {{err}}
                    </div>
                </div>
                <div class="col-lg-12 content-card" ng-show="no_result">
                    <p class="lead">
                        Oops sorry no matches were found for the query <span class="text-danger">{{query}}</span>. try the advanced search
                    </p>
                </div>
                <span class="pull-left fs-14" ng-hide="search_results">Page (1/1)</span>
                <div class="col-md-12 results-card" ng-repeat="fac in query_results">
                        <div class="col-lg-12">
                            <a ui-sref="facility_details({fac_id : fac.id})" data-trigger="hover" data-type="success" data-title="View Patient" bs-tooltip title="Click to view facility details">
                                <h5 class="search-resulthead">
                                    <span class="fw-700 fs-18 pull-left" style="cursor: pointer">
                                       <span class="fw-900 fs-20"> {{fac.code}} </span> | {{fac.name}}
                                    </span>
                                </h5>

                            </a>
                            <br>
                            <h5>
                                <span class="pull-left fs-16">
                                    <label>Status: </label>
                                    <span class="text-blue fw-700">{{fac.regulatory_status_name}}</span>
                                </span>
                                <span class="pull-right">
                                    <span class="fs-14 fw-600 label label-primary">{{fac.facility_type_name}}
                                    </span>
                                </span>
                            </h5>
                            <br>
                            <h5 class="margin-t-10 fw-700" style="color:#000;">
                                <span class="pull-left fs-15">
                                     {{fac.county}} COUNTY
                                </span>
                                <span class="pull-right" data-trigger="hover" data-type="success" data-title="View Patient" bs-tooltip title="Facility owner">
                                    <i class="fa fa-user-secret"></i> {{fac.owner_name}}
                                </span>
                            </h5>
                            <br>
                            <p class="margin-b-30 margin-t-5">
                                <span class="pull-left fs-14 fw-400">
                                 {{fac.constituency}} CONSTITUENCY
                                </span>
                                <span class="pull-right fs-13 fw-400">
                                    {{fac.ward_name}} WARD
                                </span>
                            </p>
                        </div>
                </div>
                <!-- ====Start of pagination -->
                <nav class="col-md-12 col-xs-12" ng-hide="search_results">
                  <ul class="pagination col-md-12 col-xs-12">
                    <li class="col-md-3">
                      <a class="login-btn login-btn-primary" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span> Prev
                      </a>
                    </li>
                    <li class="col-md-6"></li>
                    <li class="col-md-3">
                      <a class="pull-right login-btn login-btn-primary" aria-label="Next" ng-disabled="page">
                        Next <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
                <!-- ====end of pagination -->
            </div>
    </div>
</div>
