<header class="header text-white">
   <!--Header brand-->
    <div class="header-brand col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <a ui-sref="home" class="logo"><span class="text-warning">e</span>-Health Kenya Facilities</a>
    </div>
   <!--End of Header brand-->
   <!-- Beginning of search  -->
   <div class="header-search col-lg-5 col-md-5 col-sm-5 col-xs-5">

      <form role="form" ng-submit="search(search.query)">
        <div class="group margin-t-10">
            <input type="search" class="main-search" ng-model="search.query" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label><i class="fa fa-search"></i>&nbsp;Search facilities...</label>
        </div>
      </form>

   </div>
   <!-- End of search -->
    <!--Header profile-->
    <div class="col-lg-3 col-md-3 pull-right text-right header-profile margin-t-20" style="font-size: 14px;">
          <div class="col-lg-4">
            <a ui-sref="home">
              <span class="profile-username"> <i class="fa fa-home"></i> Home</span>
            </a>
          </div>
          <div class="col-lg-4">
            <a ui-sref="gis">
              <span class="profile-username"><i class="fa fa-map-marker"></i> GIS</span>
            </a>
          </div>
          <!-- <div class="col-lg-4">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              <span class="fa fa-sign-in"></span>
              <span class="profile-username">Sign Up</span>
            </a>
            <ul class="dropdown-menu animated flipInX pull-right" role="menu">
              <li><a href="#/profile"><i class="fa fa-cog"></i> Profile</a></li>
              <li><a href="" ng-click="logout()"><i class="fa fa-sign-out"></i> Log Out</a></li>
              <li><a href="" ng-click="logout()"><i class="fa fa-sign-in"></i>Sign Up </a></li>
            </ul>
          </div> -->
    </div>
   <!--End of Header profile-->
</header>



