<div class="container-fluid landing-img main-view">
    <div class="container-fluid">
        <div class="row margin-h-5">
            <div class="col-lg-8 col-lg-offset-2 search-card text-center margin-t-20" style="border: 1px solid #FFF;">
                <form role="form" name="search-form" ng-submit="search(search.query)">
                    <div class="col-md-12 input-group">
                        <div class="search-addon-btn input-group-btn">
                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{chu_mode ? 'Community Health Units': 'Facilities'}} <i class="fa fa-caret-down"></i>
                            </a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item fw-500" ng-click="typeaheadFacilities()">Facilities</a>
                              <div role="separator" class="dropdown-divider"></div>
                              <a class="dropdown-item fw-500" ng-click="typeaheadCHUs()">Community Health Units</a>
                            </div>
                        </div>
                        <input type="search" class="facilities" ng-model="search.query" placeholder="Search by name or code..." sync-focus-with="isFocused" autofocus />
                        <span class="search-addon-btn input-group-addon" id="sizing-addon1" ng-click="search(search.query)">
                            <button type="submit" class="search-btn">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="detail-content container-fluid light-font">
    <div class="col-xs-12 content-card" style="padding: 0px;">
        <h3 class="fw-500 text-black" >
            <span class="pull-left margin-t-10 col-md-6 col-xs-12">
                About the Kenya Master Facility and Community Units Database
            </span>
        </h3>
        <br>
        <hr class="margin-t-20 margin-b-0" style="border: 1px solid #F0F0F0;">
        <br>
        <div class="col-xs-12" style="border-left: 3px solid #2186F3;">
            <p class="fs-20 text-black fw-500">
                The Kenya Master Facility and Community Units Database is a Ministry of Health initiative to avail an online platform for the public to query and locate health facilities and their corresponding community health units in Kenya.
                A user can search and/or filter by various facility or community health unit attributes.
            </p>
        </div>
        <div class="col-xs-12 margin-t-10 margin-b-5" style="border-left: 3px solid #03a9f4;">
            <p class="fs-18 lato text-black fw-500 margin-t-5">
                There is also discoverability through the Facility Geolocator Service. It visualizes administrative units at national, county, constituency and ward levels, which shows facilities in that particular ward. Individual Community Health Units can be viewed on a map on the view showing their particular details.
            </p>
        </div>
    </div>
    <div class="col-xs-12 content-card margin-t-30" style="padding: 5px 0px 10px 0px;">
        <div class="col-md-7 col-xs-12 pad-0">
            <div class="fade-content col-xs-12" style="padding: 0px;">
                <div class="col-xs-12 margin-t-5">
                    <p class="lead fs-22 text-black">
                        What is a Health Facility ?
                    </p>
                </div>
                <div class="col-xs-12" style="border-left: 3px solid #2186F3;">
                    <p class="fs-16 text-black fw-500">
                        This is a health service delivery structure within a defined geographical area, that has one or more units/
                        departments operating within it e.g pharmacy unit, laboratory department etc. Each health facility is usually allocated health workers and there is an officer in charge in the facility who are charged with delivering health services to the general public. Within a health facility are Community Health Units which are smaller health service delivery structures compared to health facilities they are associated to.
                    </p>
                    <p class="fs-16 text-black fw-500">
                        In order to locate health facilities closest to you the MFL has plotted the location of these health facilities on a map to enable individuals locate the Health Facilities closest to them with the particular services offered.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-xs-12 pad-0">
            <div class="col-xs-12">
                <div class="col-xs-12 facilities-img"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 content-card pad-t-10 margin-t-30" style="padding: 0px;">
        <div class="col-md-9 col-xs-7 pad-0 margin-t-10">
            <div class="fade-content col-md-11 col-xs-12" style="padding: 0px;">
                <div class="col-xs-12 margin-t-5">
                    <p class="lead fs-22 text-black">
                        What is a Community Health Unit ?
                    </p>
                </div>
                <div class="col-xs-12" style="border-left: 3px solid #2186F3;">
                    <p class="fs-16 text-black fw-500">
                        This is a health service delivery structure within a defined geographical area covering a population of approximately 5,000 people. Each unit is assigned 2 Community Health Extension Workers (CHEWs) and community health volunteers who offer promotive, preventative and basic curative health services.
                    </p>
                </div>
                <div class="col-xs-12 margin-t-20">
                    <p class="lead fs-20">
                        Why Community Health Units ?
                    </p>
                </div>
                <div class="col-xs-12 margin-t-0 margin-b-5" style="border-left: 3px solid #03a9f4;">
                    <p class="fs-15 lato-light text-black fw-500 margin-t-5">
                        It is governed by a Community Health Committee (CHC) and each Community Health unit is linked to a specific Health facility.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-5 pad-l-0 pad-r-5 pull-right margin-t-10">
            <div class="fade-content blue-card card-container col-xs-12 pad-0" style="padding: 0px;">
                <div class="col-xs-12 margin-t--1 margin-b-0 pad-0">
                    <img src="assets/img/chs_logo.png" style="width: 100%">
                </div>
            </div>
        </div>
        <div class="col-xs-12 pad-0">
            <hr class="margin-t-0 margin-b-0" style="border: 1px solid #F0F0F0;">
        </div>
        <div class="col-md-12 col-xs-12 pad-0 margin-t-0">
            <div class="col-xs-12 margin-t-10 margin-b-5 pad-0">
                <div class="col-xs-12">
                    <p class="lead fs-20 text-black">
                        Services Available At Community Health Units (CHUs)
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 pad-0 fade-content">
            <div class="fade-content col-xs-12 pad-0" ng-repeat="service in services">
                <div class="col-xs-12 results-card" style="padding-left: 0px;">
                <div class="col-md-1 col-sm-2 col-xs-3 pad-0 text-center margin-r--15">
                    <span class="fa-stack fa-lg fs-22 margin-t-0 text-blue">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-medkit fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="col-md-11 col-xs-9 pad-0">
                    <p class="lato-light text-black fw-500 margin-b-0">
                        <span class="fs-16 col-xs-11 pad-l-0">
                            {{service.name}}
                        </span>
                        <span class="pull-right col-xs-1 text-right">
                            <i class="fa {{view_desc ? 'fa-chevron-up' : 'fa-chevron-down'}} fs-18" ng-click="view_desc = !view_desc" style="cursor :pointer;" ng-show="service.description"></i>
                        </span>
                    </p>
                    <p class="margin-t-0 col-xs-12 pad-l-0" style="color: #666;" content-slide-in="view_desc" slide-show-duration="1000">
                        <span class="fw-500 lato text-black fs-13">
                            {{service.description}}
                        </span>
                        <span class="fw-500 lato text-black fs-13" ng-if="!service.description">
                            There's no description for this service at the moment
                        </span>
                    </p>
                </div>
                </div>
            </div>
            <div ng-if="$odd" class="clearfix"></div>
            <div ng-repeat-end=""></div>
            <div class="fade-content results-card col-xs-12 pad-0 text-center" ng-if="spinner || services.length === 0">
                <div class="map-change-state fs-12 margin-t--15" ng-if="spinner">
                    <div class="loader"></div>
                </div>
                <p class="lead fs-18 text-black" ng-if="services.length === 0">
                    <i class="fa fa-info-circle text-primary"></i> No Community Health Unit Service Listed Currently.
                </p>
            </div>
        </div>
    </div>
</div>
