<div class="container-fluid landing-img main-view">
    <div class="container-fluid pad-l-0 pad-r-0">
        <div class="row margin-h-5 pad-l-0 pad-r-0">
            <div class="search-container row">
                <!-- Beginning of search input -->
                <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 search-card text-center margin-t-15" style="border: 1px solid #FFF;">
                    <form role="form" name="search-form" ng-submit="search(search.query)">
                        <div class="col-md-12 input-group">
                            <div class="search-addon-btn input-group-btn">
                                <a class="fw-500 btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  {{chu_mode ? 'Community Health Units': 'Facilities'}} <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item fw-500" ng-click="typeaheadFacilities()">Facilities</a>
                                  <div role="separator" class="dropdown-divider"></div>
                                  <a class="dropdown-item fw-500" ng-click="typeaheadCHUs()">Community Health Units</a>
                                </div>
                            </div>
                            <input type="search" class="facilities" ng-model="search.query" placeholder="Search by name or code..." sync-focus-with="isFocused" autofocus />
                            <span class="search-addon-btn input-group-addon" id="sizing-addon1" ng-click="search(search.query)">
                                <button type="submit" class="search-btn">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
                <!-- End of search input -->
            </div>
        </div>
    </div>
</div>

<div class="detail-content container-fluid light-font">
    <div class="col-xs-12">
        <div class="fw-500 fs-30em text-center margin-b-50" style="font-family : 'Lato Light',sans-serif !important;">
            About the Kenya Master Health Facility List
        </div>
        <div class="col-xs-12">
            <div class="col-md-5 col-xs-12 pad-0">
                <div class="col-xs-12">
                    <div class="col-xs-12 facilities-img pad-0">
                        <div class="col-xs-12 pad-0" style="background-color: rgba(0, 0, 0, 0.3);height : 100%;">
                            <div class="img-word col-xs-12 margin-t-230">
                                <span class="fs-26 fw-500" style="font-family : 'Lato Light',sans-serif !important; color: #fff;">
                                Geolocate Facilities
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-words text-black col-xs-12 card-container fw-500 fs-16" style="font-family : 'Lato Light',sans-serif !important;">
                        The Facility Geolocator visualizes administrative units at national, county, constituency and ward levels, which shows facilities in that particular ward. Individual Community Health Units can be viewed on a map on the view showing their particular details.
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12 pull-right">
                <p class="about-words fs-20 text-muted" style="font-family : 'Roboto',sans-serif !important; font-weight : 100;">
                    The Kenya Master Health Facility list is a Ministry of Health initiative to avail an online platform for the public to query and locate health facilities and their corresponding community health units in Kenya.
                    A user can:
                </p>
                <p class="about-title fs-18 margin-b-0">
                    <b>Search for:</b>
                </p>
                <p class="about-text fs-16 text-muted">
                    Health Facilities or Community Health Units.
                </p>
                <p class="about-title fs-18 margin-b-0">
                    <b>Major search attributes include:</b>
                </p>
                <p class="about-text fs-16 text-muted">
                    Facility or Community Health Unit Name or Code.
                </p>
                <p class="about-title fs-18 margin-b-0">
                    <b>Other search attributes include:</b>
                </p>
                <p class="about-text fs-16 text-muted">
                    Facility Type, Health Services, Number of Beds & Cots, Administrative Units <i>(counties, sub-counties and wards)</i> e.t.c.
                </p>
            </div>
        </div>
    </div>
    <!-- Facilities explanation -->
    <hr class="col-xs-12 margin-t-30 style-eight">
    <div class="col-xs-12">
        <div class="col-md-6 col-xs-12">
            <div class="col-xs-12 fw-500 fs-28em text-left margin-t-50 margin-b-30" style="font-family : 'Lato Light',sans-serif !important;">
                What is a Facility?
            </div>
            <div class="col-xs-12">
                <p class="defn-text fs-18 text-black fw-500">
                    This is a health service delivery structure within a defined geographical area, that has one or more units/
                    departments operating within it e.g pharmacy unit, laboratory department etc. Each health facility is usually allocated health workers and there is an officer in charge in the facility who are charged with delivering health services to the general public. Within a health facility are Community Health Units which are smaller health service delivery structures compared to health facilities they are associated to.
                </p>
            </div>
        </div>
        <div class="col-md-5 col-xs-12 text-center pull-right">
            <span class="facility-icon fa-stack fa-lg fs-150 text-blue margin-t-30">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-hospital-o fa-stack-1x fa-inverse"></i>
            </span>
        </div>
    </div>
    <!-- End of explanation -->
    <!-- Start of chus -->
    <div class="col-xs-12 margin-t-70">
         <div class="col-md-5 col-xs-12 text-left">
            <div class="col-md-11 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 margin-t-30 margin-b-0 pad-0 chu-image">
                <div class="col-xs-12 pad-0" style="background-color: rgba(0, 0, 0, 0.4);height : 100%;">
                </div>
            </div>
            <div class="text-black col-md-11 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 card-container fw-500 fs-15" style="font-family : 'Lato Light',sans-serif !important;">
                These are governed by a Community Health Committee (CHC) and each Community Health unit is linked to a specific Health facility.
            </div>
        </div>
        <div class="col-md-6 col-xs-12 text-left pull-right">
            <div class="col-xs-12 fw-500 fs-25em text-left margin-t-50 margin-b-20" style="font-family : 'Lato Light',sans-serif !important;">
                What is a Community Health Unit ?
            </div>
            <div class="col-xs-12">
                <p class="defn-text fs-17 text-black fw-500">
                    This is a health service delivery structure within a defined geographical area covering a population of approximately 5,000 people. Each unit is assigned 2 Community Health Extension Workers (CHEWs) and community health volunteers who offer promotive, preventative and basic curative health services.
                </p>
                <p class="defn-text fs-18 text-muted margin-b-0">
                    A user can do the following with regards to Community Health Units:
                </p>
                <p class="fs-17">
                    <ul class="defn-text fa-ul fs-17 fw-500">
                      <li><i class="fa-li fa fa-arrow-circle-right text-blue"></i>Search for a Community Health Unit</li>
                      <li><i class="fa-li fa fa-arrow-circle-right text-blue"></i>View Details of a Community Health Unit</li>
                      <li><i class="fa-li fa fa-arrow-circle-right text-blue"></i>Rate a Community Health Unit</li>
                      <li><i class="fa-li fa fa-arrow-circle-right text-blue"></i>View a Community Health Unit on map</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

</div>
