<div class="container-fluid landing-img main-view">
    <div class="container-fluid bg-overlay">
        <div class="row   margin-h-5">
            <div class="col-lg-12">
                <h2 class="welcome-text text-center hidden-sm hidden-xs">
                    Welcome to the Master Facility List
                </h2>
                <h3 class="welcome-text text-center hidden-lg hidden-md" style="color: #fff;">
                    Welcome to the Master Facility List
                </h3>
                <h2 class="text-center" style="">
                    <img src="../assets/img/kenya-coat-of-arms.png">
                </h2>
                <h2 class="welcome-text text-center hidden-sm hidden-xs" style="color: #fff; ">Ministry of Health</h2>
                <h3 class="welcome-text text-center hidden-lg hidden-md" style="color: #fff;">
                    Ministry of Health
                </h3>
            </div>
            <div class="col-lg-8 col-lg-offset-2 search-card text-center" style="border: 1px solid #FFF;">
                <form role="form" name="search-form" ng-submit="search(search.query)">
                    <div class="col-md-12 input-group">
                        <input type="search" class="facilities" ng-model="search.query" placeholder="Search facilities..." ng-focus="typeaheadFacilities()" sync-focus-with="isFocused" autofocus />
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <span class="search-addon-btn input-group-addon" id="sizing-addon1" data-trigger="hover" data-type="success" data-title="View Patient" bs-tooltip title="Search facility" ng-click="search(search.query)">
                            <button type="submit" class="search-btn">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="detail-content container-fluid light-font">
    <div class="col-xs-12 content-card">
        <h3 class="fw-500 text-black" >
            <span class="pull-left margin-t-10 col-md-6 col-xs-12">
                About the Master Facility List (MFL)
            </span>
            <span class="content-right col-md-6 col-xs-12">
                <img src="assets/img/title.gif" >
            </span>
        </h3>
        <br>
        <hr class="margin-t-30" style="border: 1px solid #F0F0F0;">
        <br>
        <p class="lead text-black fs-18">
            The Master Facility List is a Ministry of Health initiative to avail an online platform for the public to query and locate health facilities in Kenya. A user can search and/or filter by various facility attributes.
        </p>
        <h3 class="fs-18 margin-t-20 ">Discoverability through the MFL Geolocator Service</h3>
        <p class="lead fs-18 text-black margin-t-10">
            An MFL user could also locate a facility using the Geolocator Service which visualizes administrative units at national, county, constituency and ward levels.
        </p>
    </div>
</div>
