body {
  color: #5D5F63;
  background: #F0F1F6;
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
  margin: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  position: relative;
  height: 100%;
}
a:link,
a:visited {
  text-decoration: none;
  outline: none;
}
a:hover,
a:active {
  outline: none;
  text-decoration: none;
  color: #16a086;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
}
p {
  font-size: 14px;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
img {
  max-width: 100%;
}
/*::selection {
  background: #fff7dd;
}
::-moz-selection {
  background: #fff7dd;
}*/
.badge.badge-success {
  background-color: #2dcc70;
  color: #fff;
}
.badge.badge-info {
  background-color: #3598db;
  color: #fff;
}
.badge.badge-warning {
  background-color: #f1c40f;
  color: #fff;
}
.badge.badge-danager {
  background-color: #e84c3d;
  color: #fff;
}
.breadcrumb {
  background: none;
}
.breadcrumb > li {
  font-size: 12px;
}
.btn {
  border: none;
  font-size: 15px;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 8px 14px;
  margin-bottom: 5px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}
.btn:hover,
.btn:focus {
  outline: none;
}
.btn:active,
.btn.active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none!important;
}
.btn.disabled,
.btn[disabled],
.btn fieldset[disabled] .btn {
  background-color: #bdc3c7;
  color: rgba(255, 255, 255, 0.75);
  opacity: 0.7;
  filter: alpha(opacity=70);
}
/* Default Buttons*/
.btn-default,
a.btn-default:link,
a.btn-default:visited {
  color: #ffffff;
  background-color: #bdc3c7;
  outline: none!important;
}
a.btn-default:hover,
a.btn-default:active {
  color: #ffffff;
  background-color: #cbd0d3;
  border-color: #cbd0d3;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #cbd0d3;
  border-color: #cbd0d3;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background: #bdc3c7;
  border-color: #bdc3c7;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #bdc3c7;
  border-color: #bdc3c7;
}
.btn-primary,
a.btn-primary:link,
a.btn-primary:visited {
  color: #0089FF;
  background-color: #FFFFFF;
  border-color: #fff
}
a.btn-primary:hover,
a.btn-primary:active {
  color: #ffffff;
  background-color: #1dd2af;
  border-color: #1dd2af;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #1dd2af;
  border-color: #1dd2af;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background: #3DB4E8;
  border-color: #3DB4E8;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #3DB4E8;
  border-color: #3DB4E8;
}
.btn-info {
  color: #ffffff;
  background-color: #3598db;
}
.btn-info,
a.btn-info:link,
a.btn-info:visited {
  color: #ffffff;
  background-color: #3598db;
}
a.btn-info:hover,
a.btn-info:active {
  color: #ffffff;
  background-color: #4ba3df;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #4ba3df;
  border-color: #4ba3df;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background: #3598db;
  border-color: #3598db;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #3598db;
  border-color: #3598db;
}
.btn-danger {
  color: #ffffff;
  background-color: #e84c3d;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #eb6154;
  border-color: #eb6154;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background: #eb6154;
  border-color: #eb6154;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #e84c3d;
  border-color: #e84c3d;
}
.btn-success {
  color: #ffffff;
  background-color: #2dcc70;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #3ed47d;
  border-color: #3ed47d;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background: #2dcc70;
  border-color: #2dcc70;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #2dcc70;
  border-color: #2dcc70;
}
.btn-warning {
  color: #ffffff;
  background-color: #f1c40f;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #f1c40f;
  border-color: #f1c40f;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background: #f2ca27;
  border-color: #f2ca27;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f1c40f;
  border-color: #f1c40f;
}
/* 3d Buttons*/
.btn.btn-3d {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn.btn-3d:active {
  -webkit-transform: translate(0, 3px);
  -moz-transform: translate(0, 3px);
  transform: translate(0, 3px);
}
.btn-default.btn-3d {
  -webkit-box-shadow: 0px 6px 0px #A6AAAC;
  -moz-box-shadow: 0px 6px 0px #A6AAAC;
  box-shadow: 0px 6px 0px #A6AAAC;
}
.btn-default.btn-3d:hover,
.btn-default.btn-3d:focus {
  background-color: #bdc3c7;
}
.btn-default.btn-3d:active {
  -webkit-box-shadow: 0px 2px 0px #A6AAAC;
  -moz-box-shadow: 0px 2px 0px #A6AAAC;
  box-shadow: 0px 2px 0px #A6AAAC;
}
.btn-default.btn-3d:hover,
.btn-default.btn-3d:focus {
  background-color: #bdc3c7;
}
.btn-primary.btn-3d {
  -webkit-box-shadow: 0px 6px 0px #14a084;
  -moz-box-shadow: 0px 6px 0px #14a084;
  box-shadow: 0px 6px 0px #14a084;
}
.btn-primary.btn-3d:active {
  -webkit-box-shadow: 0px 2px 0px #14a084;
  -moz-box-shadow: 0px 2px 0px #14a084;
  box-shadow: 0px 2px 0px #14a084;
}
.btn-primary.btn-3d:hover,
.btn-primary.btn-3d:focus {
  background-color: #3DB4E8;
}
.btn-success.btn-3d {
  -webkit-box-shadow: 0px 6px 0px #2ab263;
  -moz-box-shadow: 0px 6px 0px #2ab263;
  box-shadow: 0px 6px 0px #2ab263;
}
.btn-success.btn-3d:active {
  -webkit-box-shadow: 0px 2px 0px #2ab263;
  -moz-box-shadow: 0px 2px 0px #2ab263;
  box-shadow: 0px 2px 0px #2ab263;
}
.btn-success.btn-3d:hover,
.btn-success.btn-3d:focus {
  background-color: #2dcc70;
}
.btn-info.btn-3d {
  -webkit-box-shadow: 0px 6px 0px #2e86c1;
  -moz-box-shadow: 0px 6px 0px #2e86c1;
  box-shadow: 0px 6px 0px #2e86c1;
}
.btn-info.btn-3d:active {
  -webkit-box-shadow: 0px 2px 0px #2e86c1;
  -moz-box-shadow: 0px 2px 0px #2e86c1;
  box-shadow: 0px 2px 0px #2e86c1;
}
.btn-info.btn-3d:hover,
.btn-info.btn-3d:focus {
  background-color: #3598db;
}
.btn-warning.btn-3d {
  -webkit-box-shadow: 0px 6px 0px #d6ae11;
  -moz-box-shadow: 0px 6px 0px #d6ae11;
  box-shadow: 0px 6px 0px #d6ae11;
}
.btn-warning.btn-3d:active {
  -webkit-box-shadow: 0px 2px 0px #d6ae11;
  -moz-box-shadow: 0px 2px 0px #d6ae11;
  box-shadow: 0px 2px 0px #d6ae11;
}
.btn-warning.btn-3d:hover,
.btn-warning.btn-3d:focus {
  background-color: #f1c40f;
}
.btn-danger.btn-3d {
  -webkit-box-shadow: 0px 6px 0px #c94034;
  -moz-box-shadow: 0px 6px 0px #c94034;
  box-shadow: 0px 6px 0px #c94034;
}
.btn-danger.btn-3d:active {
  -webkit-box-shadow: 0px 2px 0px #c94034;
  -moz-box-shadow: 0px 2px 0px #c94034;
  box-shadow: 0px 2px 0px #c94034;
}
.btn-danger.btn-3d:hover,
.btn-danger.btn-3d:focus {
  background-color: #e84c3d;
}
/* square buttons */
.btn-square {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* Transparent buttons */
.btn-default.btn-trans {
  color: #bdc3c7;
  background-color: transparent;
  border: solid thin #bdc3c7;
}
.btn-default.btn-trans:hover,
.btn-default.btn-trans:active,
.btn-default.btn-trans:focus {
  color: #fff;
  background-color: #bdc3c7;
  border: solid thin #bdc3c7;
}
.btn-primary.btn-trans {
  color: #3DB4E8;
  background-color: transparent;
  border: solid thin #3DB4E8;
}
.btn-primary.btn-trans:hover,
.btn-primary.btn-trans:active,
.btn-primary.btn-trans:focus {
  color: #fff;
  background-color: #3DB4E8;
  border: solid thin #3DB4E8;
}
.btn-success.btn-trans {
  color: #2dcc70;
  background-color: transparent;
  border: solid thin #2dcc70;
}
.btn-success.btn-trans:hover,
.btn-success.btn-trans:active,
.btn-success.btn-trans:focus {
  color: #fff;
  background-color: #2dcc70;
  border: solid thin #2dcc70;
}
.btn-info.btn-trans {
  color: #3598db;
  background-color: transparent;
  border: solid thin #3598db;
}
.btn-info.btn-trans:hover,
.btn-info.btn-trans:active,
.btn-info.btn-trans:focus {
  color: #fff;
  background-color: #3598db;
  border: solid thin #3598db;
}
.btn-warning.btn-trans {
  color: #f1c40f;
  background-color: transparent;
  border: solid thin #f1c40f;
}
.btn-warning.btn-trans:hover,
.btn-warning.btn-trans:active,
.btn-warning.btn-trans:focus {
  color: #fff;
  background-color: #f1c40f;
  border: solid thin #f1c40f;
}
.btn-danger.btn-trans {
  color: #e84c3d;
  background-color: transparent;
  border: solid thin #e84c3d;
}
.btn-danger.btn-trans:hover,
.btn-danger.btn-trans:active,
.btn-danger.btn-trans:focus {
  color: #fff;
  background-color: #e84c3d;
  border: solid thin #e84c3d;
}
/* Button Sizes */
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* ==========================================================================
   Button Menu
   ========================================================================== */
.dropdown-menu {
  background-color: #F6F6F6;
  border-color: #cbd0d3;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 6px;
}
.dropdown-menu > li {
  font-size: 13px;
}
.dropdown-menu > li > a {
  color: #797979;
  border-bottom : 1px solid #F0F0F0;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}
.dropdown-menu .divider {
  background-color: rgba(255, 255, 255, 0.05);
}
.btn-default + .dropdown-menu > li > a:hover,
.btn-default + .dropdown-menu > li > a:focus {
  text-decoration: none;
  background-color: #2196F3;
  color: #fff;
}
.btn-primary + .dropdown-menu > li > a:hover,
.btn-primary + .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #fff;
}
.btn-info + .dropdown-menu > li > a:hover,
.btn-info + .dropdown-menu > li > a:focus {
  text-decoration: none;
  background-color: #2C81BA;
  color: #fff;
}
.btn-warning + .dropdown-menu > li > a:hover,
.btn-warning + .dropdown-menu > li > a:focus {
  text-decoration: none;
  background-color: #f2ca27;
  color: #fff;
}
.btn-danger + .dropdown-menu > li > a:hover,
.btn-danger + .dropdown-menu > li > a:focus {
  text-decoration: none;
  background-color: #c1392b;
  color: #fff;
}

.form-control {
  color: #717171;
  outline: 0;
  height: 18px;
  padding: 6px 11px;
  line-height: 18px;
  font-size: 13px;
  background-color: #fafafa;
  min-height: 36px;
  filter: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.form-control:focus {
  border-color: #7c7c7c;
}
.form-horizontal.form-border .form-group {
  border-bottom: 1px solid #eff2f7;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.input-group {
  /*margin-bottom: 15px;*/

}
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
}
label.error {
  color: #fff;
  background: #b94a48;
  border: solid thin #fff;
  padding: 3px 5px;
}
label.valid {
  color: #fff;
  background: #5CB85C;
  border: solid thin #fff;
  padding: 3px 5px;
}

#container {
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main-content-wrapper {
  margin-left: 240px;
  margin-right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #f1f2f7;
  min-height: 1000px;
}
.main-content-wrapper #main-content {
  border-top: solid thin #FFFFFF;
  display: inline-block;
  padding: 15px 15px 0 15px;
  width: 100%;
}
.main-content-wrapper #main-content .h1 {
  margin: 0;
  padding: 0px 10px 40px 10px;
  float: left;
  line-height: 10px;
  font-weight: 300;
  font-size: 42px;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}
.main-content-toggle-left {
  margin-left: 0;
}
.main-content-toggle-right {
  margin-right: 240px;
}
.nav > li > a:hover {
  color: #fff;
  background-color: #293949;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  border-left: solid 4px #3DB4E8;
  background-color: #293949;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.sidebar .nav > li > a:focus {
  color: #fff;
  border-left: solid 4px #293949;
  background-color: #293949;
}
.nav-pills > li > a {
  border-radius: 0;
}
.nav-dropdown.open > a:after {
  content: "\f107";
}
.nav-dropdown > a:after {
  margin-top: -2px;
  float: right;
  content: "\f105";
  font-family: FontAwesome;
  font-size: 16px;
  font-weight: 300;
  height: auto;
  text-shadow: none;
}
@media only screen and (max-width: 660px) {
  .sidebar-toggle {
    margin-left: 0;
    width: 100%;
  }
  .main-content-toggle-left {
    margin-left: 660px;
  }
  .user-nav ul li {
    font-size: 12px;
  }
}
/* Sidebar Right */
.sidebarRight {
  width: 240px;
  background: #293949;
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
}
body.off-canvas .sidebarRight {
  -webkit-transform: translate(240px, 0px);
  -ms-transform: translate(240px, 0px);
  -o-transform: translate(240px, 0px);
  transform: translate(240px, 0px);
}
body.off-canvas.off-canvas-open .sidebarRight {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
body.off-canvas.off-canvas-open #container {
  -webkit-transform: translate(-240px, 0px);
  -ms-transform: translate(-240px, 0px);
  -o-transform: translate(-240px, 0px);
  transform: translate(-240px, 0px);
  transition: transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
}

.setting-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.setting-list li {
  position: relative;
  display: block;
  padding: 10px 0;
  clear: both;
  color: #7c7f87;
  font-size: 12px;
}
.setting-list .switchery {
  float: right;
}
#RGB {
  height: 239px;
  background: #808080;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

#main-content .dashboard-tile .content h1 {
  margin: 0;
  font-weight: 300;
  font-size: 40px;
  padding: 8px;
}

/* ==========================================================================
   Charts JS
   ========================================================================== */
.canvas-container {
  min-height: 300px;
  max-height: 600px;
  position: relative;
}
.default-bg {
  background-color: #bdc3c7;
}
.primary-bg {
  background-color: #3DB4E8;
}
.success-bg {
  background-color: #2dcc70;
}
.warning-bg {
  background-color: #f1c40f;
}
.info-bg {
  background-color: #3598db;
}
.danger-bg {
  background-color: #e84c3d;
}
.default-txt {
  color: #bdc3c7;
}
.primary-txt {
  color: #3DB4E8;
}
.success-txt {
  color: #2dcc70;
}
.warning-txt {
  color: #f1c40f;
}
.info-txt {
  color: #3598db;
}
.danger-txt {
  color: #e84c3d;
}
.label-default {
  background-color: #bdc3c7;
}
.label-primary {
  background-color: #3DB4E8;
}
.label-success {
  background-color: #2dcc70;
}
.label-warning {
  background-color: #f1c40f;
}
.label-info {
  background-color: #3598db;
}
.label-danger {
  background-color: #e84c3d;
}
.fa-hover {
  margin: 5px 0;
}
.fa-hover i {
  font-size: 14px;
  margin-right: 5px;
  width: 20px;
}
.mail-option ul li {
  list-style: none;
}

#form-group-cc,
#form-group-bcc {
  display: none;
}
.compose-nav > li + li {
  margin-left: 0;
  margin-top: 0px;
}
.compose-nav li a,
.compose-nav li a:visited {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-top: 1px solid #f2f3f6;
  padding: 15px;
  border-right: 3px solid rgba(0, 0, 0, 0);
  color: #5D5F63;
}
.compose-nav > li.active > a,
.compose-nav > li.active > a:hover,
.compose-nav > li.active > a:focus {
  background: #f9f9f9;
  color: #3DB4E8;
  border-left: 3px solid #3DB4E8;
  margin-left: -3px;
}
.compose-nav > li > a:hover,
.compose-nav > li > a:focus {
  background: #f9f9f9;
  color: #3DB4E8;
  border-left: 3px solid #3DB4E8;
  margin-left: -3px;
}
.mail-checkbox {
  margin: 0 15px 0 8px;
}
.mail-option .btn-group .fa-refresh,
.pag-left,
.pag-right {
  color: #fff;
}
.inbox-pag li {
  float: left;
  margin-left: 5px;
}
.inbox-pag li span {
  display: inline-block;
  margin-top: 7px;
  margin-right: 5px;
}
.compose-nav {
  margin: 15px -15px 0 -15px;
}
.table-inbox span.title {
  display: block;
  font-weight: bold;
}
.table-inbox tr {
  background: #f9f9f9;
}
.table-inbox tr.unread {
  background: #fff;
}
.table-inbox a,
.table-inbox a:visited {
  color: #5D5F63;
}
.table-inbox .unread a,
.table-inbox .unread a:visited {
  color: #3DB4E8;
}
.table-inbox .fa-star {
  color: #f1c40f;
}
.overlay {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 60px;
  line-height: 80px;
  opacity: 0.8;
  background: #3DB4E8;
  border: solid 3px #3DB4E8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 2px 2px 10px #333;
  text-shadow: 1px 1px 1px #666;
  padding: 0 4px;
}
.overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute;
}
.overlay_arrow.above {
  bottom: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #3DB4E8;
}
.overlay_arrow.below {
  top: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #3DB4E8;
}
.modal-footer .btn + .btn {
  margin-bottom: 5px;
}
.modal .modal-body.modal-scroll {
  max-height: 300px;
  overflow-y: auto;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #3DB4E8;
  border-color: #3DB4E8;
}
.pagination > li > a,
.pagination > li > span {
  color: #3DB4E8;
}
.panel {
  border: none;
  box-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.panel > .panel-heading {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px;
}
.panel .actions {
  position: absolute;
  right: 30px;
  top: 18px;
}
.panel .actions i {
  font-size: 1em;
  margin: 0 3px;
}
.panel .actions i:hover {
  cursor: pointer;
}
.panel > .panel-footer {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px;
}
.panel-default > .panel-heading {
  border-color: #eff2f7;
  background: #fafafa;
  color: #767676;
}
.panel-default .actions i {
  font-size: 1em;
  color: #bdc3c7;
  margin: 0 3px;
}
.panel-default .actions i:hover {
  cursor: pointer;
  color: #767676;
}
.panel-default > .panel-footer {
  border-color: #eff2f7;
  background: #fafafa;
  color: #767676;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #3DB4E8;
  border-color: #3DB4E8;
}
.panel-primary {
  border-color: #3DB4E8;
}
.panel-primary > .panel-heading a,
.panel-primary > .panel-heading a:hover {
  color: #fff;
}
.panel-solid-default > .panel-heading,
.panel-solid-default > .panel-body,
.panel-solid-default > .panel-footer {
  background: #bdc3c7;
  color: #fff;
  border: none;
}
.panel-solid-primary > .panel-heading,
.panel-solid-primary > .panel-body,
.panel-solid-primary > .panel-footer {
  background: #3DB4E8;
  color: #fff;
  border: none;
}
.panel-solid-success > .panel-heading,
.panel-solid-success > .panel-body,
.panel-solid-success > .panel-footer {
  background: #2dcc70;
  color: #fff;
  border: none;
}
.panel-solid-warning > .panel-heading,
.panel-solid-warning > .panel-body,
.panel-solid-warning > .panel-footer {
  background: #f1c40f;
  color: #fff;
  border: none;
}
.panel-solid-info > .panel-heading,
.panel-solid-info > .panel-body,
.panel-solid-info > .panel-footer {
  background: #3598db;
  color: #fff;
  border: none;
}
.panel-solid-danger > .panel-heading,
.panel-solid-danger > .panel-body,
.panel-solid-danger > .panel-footer {
  background: #e84c3d;
  color: #fff;
  border: none;
}
.progress-bar-default {
  background-color: #bdc3c7;
}
.progress-bar-primary {
  background-color: #3DB4E8;
}
.progress-bar-success {
  background-color: #2dcc70;
}
.progress-bar-warning {
  background-color: #f1c40f;
}
.progress-bar-info {
  background-color: #3598db;
}
.progress-bar-danger {
  background-color: #e84c3d;
}

.form-group .title {
  text-align: right;
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
  /* Main Content */
  #main-content .h1 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 660px) {
  #header {
    height: 160px;
  }
  #header .brand {
    width: 100%;
  }
  #header .user-nav ul {
    padding-left: 0;
  }
  #header .toggle-navigation.toggle-left {
    float: left;
  }
  .sidebar {
    left: -240px;
  }
  .sidebar-toggle {
    margin-left: 0;
    width: 100%;
  }
  .main-content-wrapper {
    margin-left: 0;
  }
  .user-nav ul li {
    font-size: 12px;
  }
}
@media only screen and (max-width: 479px) {
  /* Main Content */
  #main-content .h1 {
    font-size: 22px;
  }
  #header .dropdown.messages {
    display: none;
  }
}
