.sil-grid-loader {
    top: 35%;
}
.sil-panel-loader{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(35,35,50,.25);
    z-index:1020
    }
.sil-panel-loader .sil-loader-container{
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%)
}
.sil-loader-spinner{
    position:relative;
    width:20px;
    height:20px;
    border:solid 2px transparent;
    border-top-color:#394264;
    border-left-color:#394264;
    border-radius:20px;
    -webkit-animation:loading_spin 400ms linear infinite;
    -ms-animation:loading_spin 400ms linear infinite;
    animation:loading_spin 400ms linear infinite
}
.sil-orderable  {
    cursor: pointer;
    padding-right: 20px;
    background: url(../../assets/img/sil-arrow-inactive-up.png) right center no-repeat;
}
.sil-orderable-asc  {
    cursor: pointer;
    padding-right: 20px;
    background: url(../../assets/img/sil-arrow-active-up.png) right center no-repeat;
}
.sil-orderable-desc  {
    cursor: pointer;
    padding-right: 20px;
    background: url(../../assets/img/sil-arrow-active-down.png) right center no-repeat;
}
