body {
    color: #767676;
	background:#F1F2F7;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 24px;
}

body.boxed header {
    width: 100%;
}

.wrap {
    overflow: hidden;
}

img {
    max-width: 100%;
}


h1,h2,h3 {
    margin: 0 0 25px;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 28px;
}

h3 {
    font-size: 22px;
    position: relative;
}

h4 {
    font-size: 18px;
    position: relative;
}

h3.title {
	overflow: hidden;
	line-height:28px;
	font-weight: 400;
}

h3.title:after {
    background: url(../img/bg_off.png) repeat;
    content: "";
    height: 5px;
    margin-left: 10px;
    position: absolute;
    top: 12px;
    width: 99%;
}

.bg-overlay {
	background: rgba(0, 0, 0, 0.8);
	/*padding: 60px 0;*/
    height: 600px;
}

ul,li,ol {
    line-height: 24px;
    margin:0;
}

.btn-special,.btn-normal,.btn-small,.btn-large,.comment-des,.steps .popup,.testimonial p,.contact-box {
    border-radius: 3px;
}
h1 i, h2 i, h3 i, h4 i, h5 i {
    margin-right: 7px;
}

.box-bg {
    background: #fff;
    margin-bottom: 25px;
    padding: 10px 15px;
	border-radius: 4px;
}

h2.title {
    font-size: 26px;
    line-height: 40px;
    margin: 20px 0;
}

/* Buttons */
.btn:hover,.btn:focus {
    color: #fff;
}

.btn-default {
	height:44px;
	background: #EEEEEE;
	text-shadow: none;
	box-shadow: none;
}

.btn-default:hover, .btn-default:focus {
	background: #E0E0E0;
}

.btn-pad {
    margin: 7px;
}

.btn-grey {
    color: #767676 !important;
    outline: 0;
    white-space: nowrap;
    word-wrap: normal;
    cursor: pointer;
    background-color: #fff;
    text-shadow: none !important;
}

.btn-grey:hover {
    background: #E0E0E0;
}

.btn-color,.btn-grey {
    -webkit-transition: all .5s ease-in-out !important;
    -moz-transition: all .5s ease-in-out !important;
    -o-transition: all .5s ease-in-out !important;
    -ms-transition: all .5s ease-in-out !important;
    transition: all .5s ease-in-out !important;
}

.btn-color {
    color: #fff !important;
}

.btn-normal {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 30px;
}

.btn-small {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    padding: 7px 20px;
}

.btn-large {
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    padding: 17px 50px;
}

/* Main Content */
#main {
    background-color: #F1F2F7;
	padding: 0 0 60px;
}

.home #main, .home-3 #main, .home-4 #main, .page-services #main, .about #main {
	padding:0;
}


.widget ul {
    list-style: none;
    padding: 0;
}

.search-input {
    height: 44px !important;
    width: 218px;
}

.tabs ul.posts li {
    margin-bottom: 15px;
    padding-bottom: 10px;
    overflow: hidden;
    border-bottom: 1px solid #f8f8f8;
}

.tabs ul.posts li img {
    height: 68px;
    width: 68px;
    -webkit-transition: all .4s ease-in 0;
    -moz-transition: all .4s ease-in 0;
    -o-transition: all .4s ease-in 0;
    -ms-transition: all .4s ease-in 0;
    transition: all .4s ease-in 0;
    float: left;
}


.sidebar .testimonials-title h3 {
    margin: 0 0 20px !important;
}

.category ul li:before {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-right: 10px;
}


.home-3 .main-content, .home-4 .main-content {
	margin: 45px 0 40px;
	padding:0;
}

.main-content {
	margin: 45px 0 35px;
}

div.content-box {
    clear: both;
}

div.content-box div.content-box-info {
    padding-left: 135px;
}

div.content-box.big {
	padding:0 20px 30px;
	border-radius: 5px;
	background:#fff;
	-webkit-transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    -o-transition: background .5s ease-in-out;
    -ms-transition: background .5s ease-in-out;
    transition: background .5s ease-in-out;
}


div.content-box.big .ch-info-wrap {
	margin: -52px auto 35px;
	position:relative;
	left:auto;
	top:auto;
}

div.content-box.big:hover {
	background: #fff;
}

div.content-box.big div.content-box-info {
    padding-left: 0;
	text-align:center;
	margin:25px 0 0;
}

div.content-box.big div.content-box-info p {
	text-align:center;
	margin-top: 25px;
}

.main-content h3 {
    color: #777777;
    line-height: 32px;
    margin: 0 0 5px;
}

.main-content p,.content p {
    text-align: left;
}


/* Common Elements */
.divider {
    margin: 60px 0;
}

.top-pad {
    margin-top: 25px;
}

.no-divider {
    margin: 0;
}

.bottom-pad {
    margin-bottom: 60px;
}

.bottom-pad-small {
    margin-bottom: 30px;
}

.no-bottom-pad {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

/* Form */

input.form-control, textarea.form-control {
	/*border: solid 1px #CCC;*/
	background: #fff !important;
	box-shadow: none !important;
}

.form-control {
	height: 44px;
}


input:hover, textarea:hover,
input:focus, textarea:focus {
	border-color: #C9C9C9;
}

.pagination > .active > a,.pagination > .active > span,.pagination > .active > a:hover,.pagination > .active > span:hover,.pagination > .active > a:focus,.pagination > .active > span:focus {
    border-color: transparent;
}

.menu > ul li {
    float: none;
}

.navbar-toggle {
    border: none;
    border-radius: 2px;
    padding: 9px 10px 5px;
}

footer a,.contact-box:hover,#options li a.selected,header .top-bar,header .top-bar a,header .social li:hover i,footer .social li:hover i,.content-box:hover>.content-box-icon i,div.content-box div.content-box-icon:hover,div.content-box div.content-box-icon:hover i,#footer h3,.contact-box:hover h3 {
    color: #fff;
}

.panel {
	border: none;
	box-shadow: none;
	border-radius: 4px;
}

.well {
	background: #E8E8E8;
	box-shadow: none;
	border: none;
}
