body {
    color: #767676;
	background:#F1F2F7;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 24px;
}

body.boxed header {
    width: 100%;
}

.wrap {
    overflow: hidden;
}

img {
    max-width: 100%;
}


h1,h2,h3 {
    margin: 0 0 25px;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 28px;
}

h3 {
    font-size: 22px;
    position: relative;
}

h4 {
    font-size: 18px;
    position: relative;
}

h3.title {
	overflow: hidden;
	line-height:28px;
	font-weight: 400;
}

h3.title:after {
    background: url(../img/bg_off.png) repeat;
    content: "";
    height: 5px;
    margin-left: 10px;
    position: absolute;
    top: 12px;
    width: 99%;
}

.bg-overlay {
	background: rgba(0, 0, 0, 0.8);
	/*padding: 60px 0;*/
    height: 600px;
}

ul,li,ol {
    line-height: 24px;
    margin:0;
}

#style-switcher ul, #style-switcher ul li {
    list-style: none;
    padding: 0;
}


.btn-special,.btn-normal,.btn-small,.btn-large,.comment-des,.steps .popup,.testimonial p,.contact-box {
    border-radius: 3px;
}
h1 i, h2 i, h3 i, h4 i, h5 i {
    margin-right: 7px;
}

.box-bg {
    background: #fff;
    margin-bottom: 25px;
    padding: 10px 15px;
	border-radius: 4px;
}

h2.title {
    font-size: 26px;
    line-height: 40px;
    margin: 20px 0;
}

/* Buttons */
.btn:hover,.btn:focus {
    color: #fff;
}

.btn-default {
	height:44px;
	background: #EEEEEE;
	text-shadow: none;
	box-shadow: none;
}

.btn-default:hover, .btn-default:focus {
	background: #E0E0E0;
}

.btn-pad {
    margin: 7px;
}

.btn-grey {
    color: #767676 !important;
    outline: 0;
    white-space: nowrap;
    word-wrap: normal;
    cursor: pointer;
    background-color: #fff;
    text-shadow: none !important;
}

.btn-grey:hover {
    background: #E0E0E0;
}

.btn-color,.btn-grey {
    -webkit-transition: all .5s ease-in-out !important;
    -moz-transition: all .5s ease-in-out !important;
    -o-transition: all .5s ease-in-out !important;
    -ms-transition: all .5s ease-in-out !important;
    transition: all .5s ease-in-out !important;
}

.btn-color {
    color: #fff !important;
}

.btn-special {
    border-radius: 4px;
}

.btn-special {
    padding: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    outline: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.btn-normal {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 30px;
}

.btn-small {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    padding: 7px 20px;
}

.btn-large {
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    padding: 17px 50px;
}

/* Main Content */
#main {
    background-color: #F1F2F7;
	padding: 0 0 60px;
}

.home #main, .home-3 #main, .home-4 #main, .page-services #main, .about #main {
	padding:0;
}


.widget ul {
    list-style: none;
    padding: 0;
}

.search-input {
    height: 44px !important;
    width: 218px;
}

.tabs ul.posts li {
    margin-bottom: 15px;
    padding-bottom: 10px;
    overflow: hidden;
    border-bottom: 1px solid #f8f8f8;
}

.tabs ul.posts li img {
    height: 68px;
    width: 68px;
    -webkit-transition: all .4s ease-in 0;
    -moz-transition: all .4s ease-in 0;
    -o-transition: all .4s ease-in 0;
    -ms-transition: all .4s ease-in 0;
    transition: all .4s ease-in 0;
    float: left;
}

.recent-post-img {
    margin: 0 13px 5px 0;
}

.sidebar .testimonials-title h3 {
    margin: 0 0 20px !important;
}

.category ul li:before {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-right: 10px;
}


/* Comments Section */
.comments-sec {
    float: left;
    width: 100%;
    margin: -5px 0 25px;
}

ol.commentlist li {
    float: left;
    padding: 10px 0 15px;
}

ol.commentlist {
    float: left;
    width: 100%;
    margin: 0;
}

ol li ol.childlist {
    float: right;
    width: 86%;
    margin: 0;
}

ol.commentlist li ol.childlist li:first-child {
    padding: 25px 0 0;
}

ol.commentlist li:first-child {
    margin: 0 0 7px;
    padding: 25px 0 0;
}

.avatar img {
    float: left;
    max-width: 70px;
}


.home-3 .main-content, .home-4 .main-content {
	margin: 45px 0 40px;
	padding:0;
}

.main-content {
	margin: 45px 0 35px;
}

div.content-box {
    clear: both;
}

div.content-box div.content-box-info {
    padding-left: 135px;
}

div.content-box.big {
	padding:0 20px 30px;
	border-radius: 5px;
	background:#fff;
	-webkit-transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    -o-transition: background .5s ease-in-out;
    -ms-transition: background .5s ease-in-out;
    transition: background .5s ease-in-out;
}


div.content-box.big .ch-info-wrap {
	margin: -52px auto 35px;
	position:relative;
	left:auto;
	top:auto;
}

div.content-box.big:hover {
	background: #fff;
}

div.content-box.big div.content-box-info {
    padding-left: 0;
	text-align:center;
	margin:25px 0 0;
}

div.content-box.big div.content-box-info p {
	text-align:center;
	margin-top: 25px;
}

.service-reasons div.content-box.big {
	transition:none;
	margin-top: 30px;
	border: 1px solid #fff;
}

.main-content h3 {
    color: #777777;
    line-height: 32px;
    margin: 0 0 5px;
}

.main-content p,.content p {
    text-align: left;
}


/* Footer */
#footer ul, #footer li {
	padding:0;
	margin:0;
}

.footer-top {
    background: #252C34; /*323B44*/
	border-bottom: 1px solid #414f5a;
    color: #A1A1A1;
    padding: 50px 0;
}

.footer-bottom {
    background: #272727;
    color: #888;
    line-height: 38px;
    padding: 15px;
}

.scrollup {
    width: 40px;
    height: 40px;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
    opacity: 0.8;
    position: fixed;
    bottom: 100px;
    right: 15px;
    display: none;
    text-align: center;
    color: #fafafa;
    font-size: 28px;
    background: #9e9e9e;
    z-index: 9999;
}

.scrollup i {
    line-height: 38px;
}

a.scrollup:hover i,a.scrollup:focus i {
    text-decoration: none;
    color: #fafafa;
    outline: none;
}

#tweets li:before {
    color: #767676;
    content: "\f099";
    float: left;
    font-family: FontAwesome;
    font-size: 16px;
    margin: 0 0 0 -28px;
}

#tweets li {
    line-height: 24px;
    margin: 0 0 15px;
    padding: 0 0 0 28px;
}

#tweets .content {
    padding-top: 0;
    margin-bottom: 5px;
}

#flickrfeed li {
	float:left;
	margin:5px 5px 0 0;
}

.contact-us {
    margin: 15px 0 0;
    background: url("../img/contact-map.png") no-repeat center bottom;
}

.business-hour i {
    margin-right: 5px;
}

footer .contact-us a {
    color: #fff !important;
}

.contact-us .icon-map-marker {
    font-size: 16px;
}

.contact-us li i {
    color: #777777;
    float: left;
    margin: 4px 0 0;
}

.contact-us p {
    line-height: 24px;
    margin-left: 20px;
    margin-top: -2px;
}

.contact-us li p strong {
    color: #767676;
    float: left;
    font-weight: 600;
    margin: 0 5px 5px 0;
}

.contact-pad {
    padding-bottom: 20px;
}

/* Common Elements */
.divider {
    margin: 60px 0;
}

.blog-divider {
	margin:35px 0;
	background: url(../img/bg_off.png) repeat;
    content: "";
    height: 5px;
}

.top-pad {
    margin-top: 25px;
}

.no-divider {
    margin: 0;
}

.bottom-pad {
    margin-bottom: 60px;
}

.bottom-pad-small {
    margin-bottom: 30px;
}

.no-bottom-pad {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

/* Form */

input.form-control, textarea.form-control {
	/*border: solid 1px #CCC;*/
	background: #fff !important;
	box-shadow: none !important;
}

.form-control {
	height: 44px;
}


input:hover, textarea:hover,
input:focus, textarea:focus {
	border-color: #C9C9C9;
}


/* Accordion */
.accordionMod .panel-heading .accordion-toggle {
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 10px 45px;
}

.accordion-body,.panel-heading {
    background: #fff;
    border-radius: 4px;
    padding: 0;
}

.accordionMod .panel-heading .accordion-toggle .icon:before {
    content: "\f067";
    font-family: FontAwesome;
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 15px;
    top: 11px;
}

.accordionMod .panel-heading .accordion-toggle .iconActive:before {
    content: "\f068";
    font-family: FontAwesome;
}

.accordionMod .panel-heading .current {
    color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.contact-box,.contact-box i,.contact-box p,.contact-box h3 {
    -webkit-transition: all .5s ease-in-out 0;
    -moz-transition: all .5s ease-in-out 0;
    -o-transition: all .5s ease-in-out 0;
    -ms-transition: all .5s ease-in-out 0;
    transition: all .5s ease-in-out 0;
}


/* Contact Box */
.contact-box {
    text-align: center !important;
    -webkit-box-shadow: 0 -1px 0 0 rgba(0,0,0,0.05) inset;
    box-shadow: 0 -1px 0 0 rgba(0,0,0,0.05) inset;
    -webkit-transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    -o-transition: background .5s ease-in-out;
    -ms-transition: background .5s ease-in-out;
    transition: background .5s ease-in-out;
    margin: 0 0 20px;
    padding: 32px 28px;
}

.contact-box:hover {
	border: none;
}

.contact-box i {
    font-size: 48px;
}

.pagination > .active > a,.pagination > .active > span,.pagination > .active > a:hover,.pagination > .active > span:hover,.pagination > .active > a:focus,.pagination > .active > span:focus {
    border-color: transparent;
}

.pager li > a:hover {
	border: none;
}

.pager li > a, .pager li > span {
    background-color: #FFFFFF;
    border: none;
    border-radius: 4px;
}

.menu > ul li {
    float: none;
}

.navbar-toggle {
    border: none;
    border-radius: 2px;
    padding: 9px 10px 5px;
}

input,button,select,textarea {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

strong,.author-content .data a {
    font-weight: 600;
}

.breadcrumbs ul,.portfolio-single .sidebar h3 {
    margin-top: 5px;
}

.nivo-caption h2,.pagination-centered {
    text-align: center;
}

.page article.post .post-image,.portfolio-single .recentwork_wrapper .item {
    margin-bottom: 25px;
}

ol li ol.childlist .comment-des,header nav li,.avatar {
    float: left;
}

.recentworks li.slide,.portfolio-wrap {
    overflow: hidden;
}

footer a,.contact-box:hover,#options li a.selected,header .top-bar,header .top-bar a,header .social li:hover i,footer .social li:hover i,.content-box:hover>.content-box-icon i,div.content-box div.content-box-icon:hover,div.content-box div.content-box-icon:hover i,#footer h3,.contact-box:hover h3 {
    color: #fff;
}

.contact-box p {
    text-align: center !important;
}

.panel-group .panel,.accordionMod .accordion-group {
    margin-bottom: 15px;
}

.panel {
	border: none;
	box-shadow: none;
	border-radius: 4px;
}

.well {
	background: #E8E8E8;
	box-shadow: none;
	border: none;
}
