

//removes underlines : use case is for links
.no-underline {
text-decoration: none !important;
}
//to add tab spacing
.tab-space {
    padding-left: 5em;
}
/*
***
To add other padding/margin classes
use 'style'-'orientation'-'pixel size'
***
*/

// padding  classes
.pad-10{
    padding: 10px;
}
.pad-15{
    padding: 15px;
}
.pad-h-5{
 padding: 0px 5px 0px 5px;
}
.pad-h-10{
 padding: 0px 10px 0px 10px;
}
.pad-r-3{
 padding-right: 3px;
}
.pad-l-5{
 padding-left: 5px;
}
.pad-l-15{
 padding-left: 15px;
}

.pad-t-5 {
    padding-top: 5px;
}
.pad-t-10 {
    padding-top: 10px;
}
.pad-t-50 {
    padding-top: 50px;
}

.pad-t-20 {
    padding-top: 20px;
}

margin-10{
 margin: 10px 10px 10px 10px;
}
margin-15{
 margin: 15px 15px 15px 15px;
}
margin-20{
 margin: 20px;
}
margin-50{
 margin: 50px;
}

// h means horizontal
.margin-h-5{
 margin: 0px 5px 0px 5px;
}
.margin-h-10{
 margin: 0px 10px 0px 10px;
}
.margin-h-20{
 margin: 0px 20px 0px 20px;
}
.margin-h-25{
 margin: 0px 25px 0px 25px;
}

.margin-t-5{
 margin-top: 5px;
}
.margin-t-10{
 margin-top: 10px;
}
.margin-t-15 {
  margin-top: 15px;
}
.margin-t-20{
 margin-top: 20px;
}

.margin-t-30{
 margin-top: 30px;
}

.margin-t-50{
 margin-top: 50px;
}

.margin-t-200{
    margin-top: 200px;
}

.margin-t-250{
  margin-top: 250px;
}
.margin-t--5{
 margin-top: -5px;
}
.margin-t--15{
 margin-top: -15px;
}
.margin-t--27{
    margin-top: -27px;
}
.margin-b-0{
    margin-bottom: 0px;
}
.margin-b-10{
 margin-bottom: 10px;
}
.margin-b-20{
 margin-bottom: 20px;
}
.margin-b-70{
 margin-bottom: 70px;
}
.margin-b-100 {
    margin-bottom: 100px;
}
.margin-b-30{
margin-bottom: 30px;
}
.margin-b-235{
    margin-bottom: 235px;
}

.margin-v-50{
    margin: 50px 0 50px 0;
}

.margin-r-30{
    margin-right: 30px;
}
.margin-r-20{
    margin-right: 10px;
}
.margin-l--10{
    margin-left: -10px;
}
.margin-l-10{
    margin-left: 10px;
}
.margin-l-20{
    margin-left: 20px;
}
.margin-l-30{
    margin-left: 30px;
}
.margin-l-40{
    margin-left: 40px;
}
.margin-l-50{
    margin-left: 50px;
}
.margin-l-60{
    margin-left: 60px;
}

.display-block{
 display: inline-block;
}

// adds various fonts weight
.fw-900{
    font-weight: 900;
}
.fw-800{
    font-weight: 800;
}
.fw-700{
    font-weight: 700;
}
.fw-600{
    font-weight: 600;
}
.fw-500{
    font-weight: 500;
}
.fw-400{
    font-weight: 400;
}

/*Add different font size*/
.fs-26{
    font-size: 24px;
}
.fs-24{
    font-size: 24px;
}
.fs-20{
    font-size: 20px;
}
.fs-18{
    font-size: 18px;
}
.fs-16{
    font-size: 16px;
}
.fs-15{
    font-size: 15px;
}
.fs-14{
    font-size: 14px;
}
.fs-13{
    font-size: 13px;
}
.fs-12{
    font-size: 12px;
}
.fs-10{
    font-size: 10px;
}
//adds opacity of 0
invisible{
    opacity: 0;
}
.text-black {
    color :#000;
}
a:hover .text-blue {
    color : darken(@header-color, 10%) !important;
}
.text-blue {
    color : @header-color !important;
}
//align text-left
char-left{
    text-align: left;
}
.text-default{
    color: @black;
}
.transparent-background{
    background-color: transparent !important;
}

.border-gray{
    border: 2px lightgray solid
}
