/*Adds the header's theme */
.header {
position: relative;
padding: 0 15px;
display: block;
height: 60px;
z-index: 99;
background: @header-color;
color: #fff !important;
border-bottom: 1px solid rgba(0,0,0,.1);
}
.header-brand {
    float: left;
    display: block;
    font-size:20px;
    margin-top: 15px;
    margin-right: 20px;
}

.header-brand h1, .header-brand h2, .header-brand h3, .header-brand h4, .header-brand h5, .header-brand h6 {
margin: 0;
padding: 0;
line-height: 60px;
font-size: 2.3em;
font-family: @sansAclonia;
color: #fff;
}

.header-brand h1:hover, .header-brand h2, .header-brand h3, .header-brand h4, .header-brand h5, .header-brand h6 {
margin: 0;
padding: 0;
line-height: 60px;
font-size: 2.3em;
font-family: @sansAclonia;
color: #fff;
}
.header-container {
    height: 100%;
}

.navbar {
    margin-bottom: -8px !important;
    border-radius: 0px;
}
.navbar-default {
    border-color: transparent;
}

.navbar-nav > li {
    margin-top: 0px !important;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight:400;
    font-size: 12px;
    background-color: #0089ff;
}

.navbar-nav > li > a {
    padding-top: 15px !important;
    padding-bottom: 21px !important;
}
.navbar-nav > li:hover > a {
    color: #2196F3;
}

.navbar-nav > li:hover > a:active {
    color: #2196F3;
}
.navbar-nav > li:hover, .navbar-nav > li:active {
    color: #FFF !important;
    cursor: pointer;
    background-color: #2196F3 !important;
    border-bottom: solid 3px #ddd;
     -webkit-transition: border-bottom 70ms ease-out 70ms;
    -moz-transition: border-bottom 70ms ease-out 70ms;
    -o-transition: border-bottom 70ms ease-out 70ms;
    transition: border-bottom 70ms ease-out 70ms;
}

.navbar-nav > li:focus,.navbar-default .navbar-nav > .active > a {
    cursor: pointer;
    background-color: #2196F3 !important;
    border-bottom: solid 3px #ddd;
    color: #bdc3c7;
    -webkit-transition: background-color 70ms ease-out 70ms;
    -moz-transition: background-color 70ms ease-out 70ms;
    -o-transition: background-color 70ms ease-out 70ms;
    transition: background-color 70ms ease-out 70ms;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff !important;
    font-weight: 900;
    background: rgba(0, 157, 255, 0.81);
    box-shadow: inset 0 0px 0 white, inset 0 -2px 0 white;
    -webkit-transition: background-color 70ms ease-out 70ms;
    -moz-transition: background-color 70ms ease-out 70ms;
    -o-transition: background-color 70ms ease-out 70ms;
    transition: background-color 70ms ease-out 70ms;
}

.navbar-nav > li:focus,.navbar-default .navbar-nav > .active > a:hover{
    color: lighten(#2196F3, 5%);
}
.navbar-default .navbar-nav > li > a {
    color: #fff !important;
}
.navbar-default .navbar-nav > li > a:active {
    color: #2196F3;
}
.navbar-default .navbar-brand {
    color: #fff !important;
}
.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover {
    color: #e5e5e5 !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #2196F3;
    background-color: rgba(192, 192, 192, 0.8);
}

.inner-nav{
    border-color:transparent;
    border-radius:0px;
    z-index:50;
    height:40px;
    margin-bottom: -8px !important;
    padding:0px;
    margin-top:8px;
    background:#57B1FF;
}
.inner-nav-color{
    background-color:#57B1FF
}
