/* ===================Img container*/
.landing-img {
    background-image: url(../assets/img/banner.png);
    padding: 0px;
    width: 100%;
    min-height: 100vh;
    /*background: rgba(0, 0, 0, 0.8);*/
    /*margin: 0 auto;*/
    background-position: center center;
    background-size: cover;
}
.bg-overlay {
    width: 100%;
    min-height: 100vh;
}

.search-loarder {
    background-color: rgba(192, 192, 192, 0.6);
    width: 100%;
    min-height: 80vh;
    background-position: center center;
    background-size: cover;
}
.search-results {
    /*max-height: 700px;
    overflow-y: scroll;*/
}
.header > div > a > .my-nav {
    font-size: 16px;
}
.my-nav {
    color: #fff;
}

.my-nav > a {
    color: #fff;
    height: 100%;
}

.nav-link {
    font-size: 14px;
    height: 100%;
}
.nav-link > a {
    font-size: 14px;
    color: #fff;
}
.min-nav {
    background-color: #0089ff;
}

/*Twitter typeahead*/
.twitter-typeahead {
  width: 100%;
}
.twitter-typeahead .tt-dropdown-menu {
  width: inherit;
  background-color: #FFFFFF;
  border-color: #66afe9;
  border-style: solid;
  border-width: 0 1px 1px 1px;
}
.twitter-typeahead .tt-dropdown-menu .tt-suggestions {
  padding-left: 5px;
  padding-right: 5px;
}
.twitter-typeahead .tt-dropdown-menu .tt-suggestions .tt-cursor {
  background-color: #66afe9;
  color: #FFFFFF;
}

.tt-menu {
    background-color: #fff;
    width: 100%;
    font-size: 16px;
    z-index: 100;
}
.tt-input {
    background-color: #fff;
    width: 100%;
    font-size: 16px;
    z-index: 100;
    font-size: 16px;
    padding: 4px 0px 2px 4px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}
.tt-dataset {
    font-size: 16px;
}
.tt-dataset-o {
    font-size: 16px;
}
.tt-suggestion {
    font-size: 16px;
    padding: 4px 0px 2px 4px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}
.tt-selectable {
    cursor: pointer;
    padding: 4px 0px 2px 4px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
}
.tt-selectable:hover,  .tt-selectable:active, .tt-selectable:focus{
    background-color: rgba(192, 192, 192, 0.8);
}
.tt-cursor {
    font-weight: 700;
    background-color: rgba(192, 192, 192, 0.8);
}
.tt-cursor:hover, .tt-cursor:focus {
    cursor: pointer;
    background-color: rgba(192, 192, 192, 0.8);
}
