.leaflet-control-layers-toggle{ 
    width:auto;
    background-position:3px 50% ;
    padding:3px;
    padding-left:36px;
    text-decoration:none;
    line-height:36px;
}
.leaflet-heatmap-layer{
    z-index: -1000;
}
.map-high-conc{
    background-color:red;
    opacity:0.5;
}
.map-moderate-conc{
    background-color:orange;
    opacity:0.5;
}
.map-low-conc{
    background-color:lime;
    opacity:0.5;
}
