/*  * Off Canvas  * --------------------------------------------------
          */
 @media screen and (max-width: 768px) {
    /* outer div */
  .row-offcanvas {
      position: relative;
      left: 0;
      -webkit-transition: left .3s ease-in;
      -most-transition: left .3s ease-in;
      transition: left .3s ease-in;
   }
    /* sidebar */
  .sidebar-offcanvas {
      left: -80%;
      width: 80%;
      position: absolute;
      top: 0;
      height: 100%;
      /*background-color: #F7F7F7;
      padding: 0px;*/
  }
  /* content */
  .row-offcanvas.active {
      left: 80%;
  }
 }
