@media print {
    nav, footer {
        display: none;
    }
    nav > div {
        display: none;
    }
    .navbar-header {
        display: none;
    }
    .action-btn {
        display: none;
    }
    .class-rate {
        display: none;
    }
    span > button {
        display: none;
    }

    body {
        font: 12pt Georgia, "Times New Roman", Times, serif;
        line-height: 1.3;
    }
    h1 {
        font-size: 24pt;
    }

    h2 {
        font-size: 14pt;
        margin-top: 25px;
    }
    h3 {
        font-size: 22pt;
        margin-top: 0px;
    }
    .fs-26 {
        font-size: 22pt;
    }

    h3 span {
        font-size: 22pt;
    }

    aside h2 {
        font-size: 18pt;
    }

    ul {
        margin: 0;
    }

    li {
        content: "» ";
    }

    header:after {
    }

    header:before {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #bbb;
        padding: 3px 5px;
        font-style: italic;
    }
}
