<div class="row margin-b-20 margin-t-10 lato" id="search_frm_div" >
<div class="col-xs-12">

    <!--search panel-->
    <div class="col-md-4 col-xs-12 content-card pad-l-5 left-col">
        <h4>
            <span class="left-ttl-hidden fw-400">Advanced Search</span>
            <span class="pull-right" title="Hide/show advanced search" sidebar-toogle="#search_frm_div">
                <i class="fa fa-chevron-circle-left"></i>
            </span>
        </h4>
        <div class="col-xs-12 facet-detail-content pad-5 left-col-content">
            <form ng-submit="filterFacilities()" name="frm_filter_facilities">

                <div class="form-group results-card">
                    <label class="fw-500 fs-14">Search all community health units</label>
                    <input placeholder="Search all community health units" type="text" class="form-control" ng-model="filters.single.search" id="search" name="search" autofocus />
                </div>

                <div class="col-xs-12 results-card margin-b-10">
                    <span class="text-muted fs-16">Community Unit Info</span>
                    <div class="form-group">
                        <label class="fw-500 fs-14">Community Unit Name</label>
                        <input placeholder="Community Unit Name" type="text" class="form-control" ng-model="filters.single.name" id="name" name="name"/>
                    </div>
                    <div class="form-group">
                        <label class="fw-500 fs-14">Community Unit Code</label>
                        <input placeholder="Community Unit Code" type="text" class="form-control" ng-model="filters.single.code" id="code" name="code"/>
                    </div>
                </div>

                <div class="col-xs-12 results-card margin-b-10">
                    <span class="text-muted fs-16">Administrative Unit</span>
                    <div class="form-group">
                        <label class="fw-500 ">County</label>
                    </div>

                    <div class="form-group">
                        <label class="fw-500">Sub County</label>
                    </div>

                    <div class="form-group">
                        <label class="fw-500">Ward</label>
                    </div>
                </div>

                <div class="col-xs-12 results-card margin-b-10">
                    <div class="form-group">
                        <p class="text-muted">Community Unit Details</p>

                        <div class="form-group">
                            <label  class="fw-500">Operation Status</label>
                        </div>

                        <div class="form-group">
                            <label  class="fw-500">Community Unit Service Category</label>
                        </div>

                        <div class="form-group">
                            <label  class="fw-500">Service</label>
                        </div>

                    </div>
                </div>

                <div class="col-xs-12 margin-t-10">
                    <button class="login-btn login-btn-primary margin-l--10" type="submit">
                        <i class="fa fa-search"></i> Search
                    </button>
                    <button type="reset" class="login-btn login-btn-primary margin-l-5" ng-click="clearFilters()"> <i class="fa fa-refresh"></i> Reset</button>
                </div>
            </form>
        </div>
    </div>
    <!--end of search panel-->

    <!--beginning of chul content-->
    <div class="col-md-8 col-xs-12 center-col">
        <div class="margin-t-10">
            <!--spinner-->
            <div class="col-xs-12" ng-if="spinner" style="text-align: center">
                <div class="map-change-state">
                    <div class="loader"></div>
                    <div class="row">
                        <h3 class="text-center loader-text">Please wait...</h3>
                    </div>
                </div>
            </div>
            <!--end of spinner-->

            <!--beginning of loaded content-->
            <div class="container-fluid" ng-if="!spinner">
            <div class="row" ng-if="alert">
                <div  class="col-xs-12 fade-content alert alert-danger margin-t-20">
                <p class="lead">Sorry, a server connection error occured.</p>
                </div>
            </div>
            
            <div class="row" ng-if="!alert">
                <div class="col-xs-12 margin-b-10">
                    <div class="pull-left">
                        <p class="lead fw-500 text-black margin-t-10">
                            Showing {{results.start_index}} - {{results.end_index}} of <b class="text-danger">{{results.count}}</b> results.
                        </p>
                    </div>
                    <div class="pull-right">
                        <button class="action-btn action-btn-primary action-btn-md" tooltip="Export Excel" tooltip-placement="bottom">
                            <i class="fa fa-file-excel-o"></i>
                        </button>
                        <button class="action-btn action-btn-default action-btn-md" tooltip="Reset Search" tooltip-placement="bottom">
                            <i class="fa fa-refresh text-danger"></i>
                        </button>
                    </div>
                </div>

                <div class="col-xs-12">
                    <p class="lead" ng-if="results.results.length === 0">
                        Sorry, no match found for search.
                    </p>
                    <!--ng-repeat of chuls-->
                    <div class="col-xs-12 fade-content results-card fs-responsive" ng-repeat="fac in results.results">
                            <a class="col-xs-12 margin-b-10" ui-sref="chul_view({unit_id : fac.id})">
                                <strong class="fs-20" tooltip="Click to view community unit details" tooltip-placement="right"> {{fac.code}} | {{fac.name}} </strong>
                            </a>
                            <div class="col-md-12 margin-b-5">
                                <span class="pull-left col-md-8 col-xs-12">
                                    <label>Linked Facility: </label>
                                    <span class="text-success fw-600">{{fac.facility_name}}</span>
                                </span>
                                <span class="col-md-4 col-xs-12">
                                   <span class="pull-xs-left pull-md-right">
                                        <span class="label label-primary fw-600">{{fac.status_name}}</span>
                                   </span>
                                </span>
                            </div>

                            <div class="col-md-12 margin-b-5">
                                <strong class="pull-left col-md-5 col-xs-12">{{fac.facility_county}} COUNTY</strong>
                                <span class="col-md-7 col-xs-12">
                                    <span class="pull-xs-left pull-md-right">
                                        <strong>Date Established:</strong>
                                        {{fac.date_established | date : 'EEE, dd-MM-yyyy'}}
                                    </span>
                                </span>
                            </div>

                            <div class="col-md-12 margin-b-5">
                                <span class="pull-left col-md-6 col-xs-12">{{fac.facility_subcounty | titlecase}} SUB-COUNTY</span>
                                <span class="col-md-6 col-xs-12">
                                    <span class="pull-xs-left pull-md-right">
                                            {{fac.facility_ward}} WARD
                                    </span>
                                </span>
                            </div>
                    </div>
                </div>

                <div class="col-md-12 col-xs-12 margin-t-10">
                    <div class="col-md-4 col-xs-13">
                        <button ng-click="prevPage()" class="login-btn login-btn-primary pull-left" ng-if="results.previous">
                            <i class="fa fa-angle-double-left"></i> Prev
                        </button>
                    </div>
                    <div class="col-md-4 col-xs-12 text-center" style="padding:4px 7px 4px 7px;">
                        <span>Page {{results.current_page}} of {{results.total_pages}}</span>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <button ng-click="nextPage()" class="login-btn login-btn-primary pull-right" ng-if="results.next">
                            Next <i class="fa fa-angle-double-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
</div>
</div>