<div class="row lato">
    <div class="col-xs-12" ng-if="spinneractive" style="text-align: center">
        <div class="map-change-state">
            <div class="loader"></div>
            <div class="row">
                <h3 class="text-center loader-text">Please wait...</h3>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-12 margin-t-20 margin-b-10">
            <div class="col-xs-12 ">
                <span class="pull-right">
                    <button class="action-btn action-btn-md action-btn-primary" onclick="window.history.back()" bs-tooltip title="Go back">
                        <i class="fa fa-arrow-left"></i>
                    </button>
                </span>
            </div>
        </div>
        <div ng-if="alert_main">
            <div  class="col-xs-12 fade-content alert alert-danger margin-t-20">
                <p class="lead">Sorry, a server connection error occured.</p>
            </div>
        </div>
        <div class="col-xs-12" ng-if="!alert_main">
            <div class="col-md-8 col-xs-12 content-card margin-b-20 fade-content">
            <!-- Important data first displayed here -->
            <div class="row">
                <h3 class="fw-400 col-xs-12">
                        <span class="fs-22">{{unit.code}}</span> | {{unit.name}}
                </h3>
                <hr style="border: 1px solid #F0F0F0;">
                <div class="fw-500 col-md-6 col-xs-12">
                    <span class="fs-16 pull-left">
                        <label>Linked Facility: </label>
                        <a ui-sref="rating.units({fac_id:unit.facility})">{{unit.facility_name}}</a>
                    </span>
                </div>
                <div class="col-md-6 col-xs-12">
                    <p class="fs-16 pull-md-right pull-xs-left"><b class="text-black">Status:</b>
                    <span>
                        {{unit.status_name}}
                    </span>
                    </p>
                </div>
                <br>
                <br>
                <div class="fs-14 margin-t--15">
                    <span class="pull-left col-md-6 col-xs-12">
                        <strong>Households Monitored: </strong>
                        {{unit.households_monitored}}
                    </span>
                    <span class="content-right col-md-6 col-xs-12">
                        <label>Date Established </label>
                        <span>
                            {{unit.date_established | date : 'EEE, dd-MM-yyyy'}}
                        </span>
                    </span>
                </div>
                <!-- Display location details  -->
                <hr style="border: 1px solid #F0F0F0;" ng-if="unit.officer_in_charge !== null">
                <h4 class="fs-16 col-xs-12 margin-b-20"> Location</h4>
                <br>
                <h5 class="fs-14 fw-500">
                    <span class="pull-left col-md-6 col-xs-12">
                        {{unit.facility_county}} COUNTY
                    </span>
                    <span class="content-right text-black col-md-6 col-xs-12">
                            {{unit.facility_subcounty}} SUB-COUNTY
                    </span>
                </h5>
                <br>
                <h5 class="fs-14 text-black fw-500 margin-t-15">
                    <span class="pull-left col-md-6 col-xs-12">
                        {{unit.facility_ward}} WARD
                    </span>
                    <span class="content-right text-black col-md-6 col-xs-12" ng-if="unit.location !== null">
                    Location: {{unit.location}}
                    </span>
                </h5>
                <br>
                <!-- End of location displays -->
            </div>

            </div>
            <!-- Extra details displayed here =========================== -->
            <div class="side-cont col-md-4 col-xs-12 pull-right pad-l-20">
                <div class="col-xs-12 results-card margin-b-10" ng-if="unit.contacts.length !== 0">
                    <div class="col-xs-12 pad-l-0 margin-t-3">
                    <p ng-repeat="cont in unit.contacts" class="fw-500 margin-b-0">
                        <span  class="fs-14">
                            <label>
                                {{cont.contact_type_name}} :
                            </label>
                            {{cont.contact}}
                        </span>
                    </p>
                    </div>
                </div>
                <div ng-if="unit.contacts.length == 0">
                    Contacts missing
                </div>
            </div>
            <br><br>
            <div class="col-xs-12 content-card margin-v-20 hidden-xs hidden-sm">
                <div class="margin-b-50">
                    <leaflet id="wardmap"
                        defaults="defaults"
                        markers="markers"
                        layers="layers"
                        tiles="tiles"
                        width="100%"
                        height="350px"
                        geojson="geojson">
                    </leaflet>
                </div>
            </div>
            <!-- End of displaying extra details  -->
        </div>
    </div>
</div>
