<div class="row lato">
    <div class="col-xs-12">
        <div class="col-xs-12 margin-t-20 margin-b-10">
            <div class="col-xs-12 ">
                <span class="pull-right">
                    <a class="action-btn action-btn-md action-btn-primary"
                    target="download" download href="{{file_url}}">
                        <i class="fa fa-print"></i>
                    </a>
                    <button class="action-btn action-btn-md action-btn-primary" onclick="window.history.back()" bs-tooltip title="Go back">
                        <i class="fa fa-arrow-left"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-xs-12" ng-if="spinner" style="text-align: center">
            <div class="map-change-state">
                <div class="loader"></div>
                <div class="row">
                    <h3 class="text-center loader-text">Please wait...</h3>
                </div>
            </div>
        </div>
        <div ng-if="alert_main">
            <div  class="col-xs-12 fade-content alert alert-danger margin-t-20">
                <p class="lead">Sorry, a server connection error occured.</p>
            </div>
        </div>
        <div class="col-xs-12 margin-b-10" ng-if="!alert_main && !spinner">
            <div class="col-md-7 col-xs-12 content-card margin-b-20 fade-content">
            <!-- Important data first displayed here -->
            <div class="row">
                <h3 class="fw-400 col-xs-12">
                        <span class="fs-22">{{unit.code}}</span> | {{unit.name}}
                </h3>
                <hr style="border: 1px solid #F0F0F0;">
                <h5 class="fs-14 fw-500 col-xs-12 pad-0">
                    <span class="fs-16 pull-left col-md-6 col-xs-12">
                        <label>Linked Facility: </label>
                        <a ui-sref="rating.units({fac_id:unit.facility})">{{unit.facility_name}}</a>
                    </span>
                    <span class="content-right text-black col-md-6 col-xs-12">
                            <label class="fw-600 text-black">Status: </label>
                            <span class="label label-warning fs-13">{{unit.status_name}}</span>
                    </span>
                </h5>
                <br>
                <div class="fs-14 margin-t--15">
                    <span class="pull-left col-md-6 col-xs-12">
                        <strong>Households Monitored: </strong>
                        {{unit.households_monitored}}
                    </span>
                    <span class="content-right col-md-6 col-xs-12">
                        <label>Date Established: </label>
                        <span>
                            {{unit.date_established | date : 'EEE, dd-MM-yyyy'}}
                        </span>
                    </span>
                </div>
                <!-- Display location details  -->
                <hr style="border: 1px solid #F0F0F0;" ng-if="unit.officer_in_charge !== null">
                <h4 class="fs-18 col-xs-12 margin-b-5">
                    <span class="fa-stack fa-lg fs-13">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span>
                    Location
                </h4>
                <br>
                <h5 class="fs-14 fw-500">
                    <span class="pull-left col-md-6 col-xs-12 margin-b-5">
                        {{unit.facility_county}} COUNTY
                    </span>
                    <span class="content-right text-black col-md-6 col-xs-12 margin-b-5">
                            {{unit.facility_subcounty}} SUB-COUNTY
                    </span>
                </h5>
                <br>
                <h5 class="fs-14 text-black fw-500 margin-t-10">
                    <span class="pull-left col-md-6 col-xs-12">
                        {{unit.facility_ward}} WARD
                    </span>
                    <span class="content-right text-black col-md-6 col-xs-12" ng-if="unit.location !== null">
                    Location: {{unit.location}}
                    </span>
                </h5>
                <br>
                <!-- End of location displays -->
            </div>

            </div>
            <!-- Extra details displayed here =========================== -->
            <div class="side-cont col-md-5 col-xs-12 pull-right pad-l-20">
                <div class="col-xs-12 results-card margin-b-10" ng-if="unit.health_unit_workers.length !== 0" tooltip="Community Health Extension Workers">
                    <div class="col-md-2 col-xs-2 margin-t-5 pad-l-0">
                        <span class="fa-stack fa-lg text-blue fs-26">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-user-md fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="col-md-9 col-xs-10 pad-l-0 margin-t-3">
                        <p class="lead fs-20 lato-light margin-b-5">Community Health Extension Workers</p>
                        <p ng-repeat="worker in unit.health_unit_workers" class="fw-500 margin-b-0">
                            <span  class="fs-14">
                                {{$index + 1}}. {{worker.name}}
                                <span ng-if="worker.is_incharge" class="label label-success fs-12">
                                    In-Charge
                                </span>
                            </span>
                        </p>
                    </div>
                </div>

                <div class="col-xs-12 results-card margin-b-10" ng-if="unit.contacts.length !== 0">
                    <div class="col-md-2 col-xs-2 margin-t-5 pad-l-0">
                        <span class="fa-stack fa-lg text-blue fs-26">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="col-md-9 col-xs-10 pad-l-0 margin-t-3">
                        <p ng-repeat="cont in unit.contacts" class="fw-500 margin-b-0">
                            <span  class="fs-14">
                                <label>
                                    {{cont.contact_type_name}} :
                                </label>
                                {{cont.contact}}
                            </span>
                        </p>
                    </div>
                </div>

                <div ng-if="unit.contacts.length == 0">
                    <div class="col-md-6 col-xs-12 content-card fade-content">Address details missing</div>
                </div>
            </div>
            <div class="col-xs-12 pad-0 margin-t-20">
                <div class="col-md-7 col-xs-12  content-card fade-content">
                    <h4 class="fs-18 col-xs-12 pad-0 margin-b-5" tooltip="Community Health Unit Average Rating">
                        <span class="fa-stack fa-lg fs-12">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                        </span>
                        CHUL Average Rating
                    </h4>
                    <div class="col-xs-12 margin-b-10 margin-t-5">
                        <div class="col-sm-3 col-xs-5 fs-65 lato-light pad-l-10 margin-t-10">
                        {{unit.avg_rating | number : 1}}
                        </div>
                        <div class="col-sm-6 col-xs-7 lato-light pad-l-0">
                            <p class="fs-12 margin-b-0">
                                <i class="fa fa-star" ng-if="unit.avg_rating >= 1"></i>
                                <i class="fa fa-star" ng-if="unit.avg_rating >= 2"></i>
                                <i class="fa fa-star" ng-if="unit.avg_rating >= 3"></i>
                                <i class="fa fa-star" ng-if="unit.avg_rating >= 4"></i>
                                <i class="fa fa-star" ng-if="unit.avg_rating >= 5"></i>
                                <i class="fa fa-star-o" ng-if="unit.avg_rating < 1"></i>
                                <i class="fa fa-star-o" ng-if="unit.avg_rating < 2"></i>
                                <i class="fa fa-star-o" ng-if="unit.avg_rating < 3"></i>
                                <i class="fa fa-star-o" ng-if="unit.avg_rating < 4"></i>
                                <i class="fa fa-star-o" ng-if="unit.avg_rating < 5"></i>
                            </p>
                            <p class="lead fs-15 margin-b-3">
                                {{unit.number_of_ratings}} Ratings
                            </p>
                            <p>
                                <button class="login-btn login-btn-primary btn-sm" ng-click="rateCU = !rateCU">
                                    &nbsp;Rate CHUL <i class="fa {{rateCU ? 'fa-chevron-up' : 'fa-chevron-down'}}"></i>
                                </button>
                            </p>
                        </div>
                        <div content-slide-in="rateCU" slide-show-duration="1000" class="col-xs-12 margin-t-15">
                        <!-- Begining of CU rating -->
                            <span class="col-xs-12 pad-0 pull-left margin-t--5 class-rate">
                                <label class="fs-16 fw-500 light-font">Rate
                                Community Health Unit
                                    <p class="fs-12">
                                    <i>Stars represent level of satisfaction: 5 (Very Good), 4 (Good), 3 (Average), 2 (Poor), 1 (Very Poor)</i>
                                    </p>
                                </label>
                                <span>
                                    <!-- Testing rating directive -->
                                    <span class="fs-12" ng-repeat="rating in unit.ratings">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="1" placeholder="Leave comment" ng-model="rating.comment"></textarea>
                                    </div>
                                    <!-- {{rating.current}} out of{{rating.max}} -->
                                    <div star-rating rating-value="rating.current" max="rating.max" on-rating-selected="getSelectedRating(rating, unit.id)"></div>
                                    <span class="col-xs-12 pad-0 margin-t-5">
                                        <button ng-click="rateCU(unit)" class="login-btn login-btn-success btn-sm">
                                         &nbsp;Submit Rating
                                        </button>
                                        <span class="pull-right" ng-if="unit.spinner">
                                            <img src="assets/img/ajax-loader.gif" style="font-size: 10px; width: 20px height: 20px;">
                                        </span>
                                    </span>
                                    </span>
                            <!-- End of rating directive -->
                                </span>
                            </span>
                        <!-- End of CU rating -->
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="col-xs-12 content-card margin-v-20 hidden-xs hidden-sm">
                <h4>{{unit.facility_ward}} WARD</h4>
                <div class="margin-b-50">
                    <leaflet id="wardmap"
                        defaults="defaults"
                        markers="markers"
                        layers="layers"
                        tiles="tiles"
                        width="100%"
                        height="350px"
                        geojson="geojson">
                    </leaflet>
                </div>
            </div>
            <!-- End of displaying extra details  -->
        </div>
    </div>
</div>
