<div class="col-md-4 margin-15">
    <div class="content-card">
        <h4>NAVIGATION</h4>
        <a ui-sref="gis" ui-sref-opts="{reload: true}">KENYA /</a><br>
         &nbsp;&nbsp;<a ui-sref="gis.gis_county({county_id:county_id,const_boundaries:const_boundaries})" ui-sref-opts="{reload: true}">{{county.properties.name}} /</a><br>
         &nbsp;&nbsp;&nbsp;&nbsp; <a ui-sref="gis.gis_county.gis_const({county_id:county_id,const_boundaries:const_boundaries,const_id:const_id,ward_boundaries:ward_boundaries})">{{constituency.properties.name}}</a><br>
    </div>
    <div class="col-xs-12 content-card">
       <strong class="margin-10">LEGEND</strong>
       <br>
       <span class="fw-400">Concentration of Facilities:</span> <br>
       <label class="label map-high-conc" >&#9679;</label> High
       <label class="label map-moderate-conc">&#9679;</label> Moderate
       <label class="label map-low-conc" >&#9679;</label> Low<br>
    </div>
    <div>
        <a ui-sref="facility_filter.results({constituency:constituency.properties.constituency_id})" class="col-xs-12 login-btn login-btn-primary margin-t-20">
            <h4><i class="fa fa-eye"></i> VIEW THE {{facility_count}} FACILITIES</h4>
        </a>
    </div>
    <div class="col-xs-12">
        <h4 class="fw-500 pad-t-50">Quick Help</h4>
        <hr>
        <div class="content-card" ng-include="'gis/tpls/quick_help.tpl.html'">
        </div>
    </div>
</div>
<div class="col-md-8 margin-b-10">
        <div class="col-xs-12 content-card">
            <h4 class="fw-400">{{constituency.properties.name}} SUB-COUNTY <span class="pull-right">{{facility_count}} facilities</span></h4>
        </div>
        <div ng-if="spinner">
            <div class="map-change-state">
                <div class="loader"></div>
                <div class="row">
                    <h3 class="text-center loader-text">Please wait...</h3>
                </div>
            </div>
        </div>
        <div ng-if="!spinner">
            <leaflet id="constmap"
                markers="markers"
                width="100%"
                layers="layers"
                defaults="defaults"
                geojson="geojson"
                    geojson-watch-options="{doWatch:true,isDeep:false,individual:{doWatch:true,isDeep: false}}"
                events="events"
                height="80vh">
            </leaflet>
        </div>
</div>
