        <div class="col-md-4 margin-15">
           <div class="col-xs-12">
                <div class="col-xs-12 content-card">
                    <h4 class="fw-600 ">NAVIGATION</h4>
                    <a ui-sref="gis">KENYA</a><br>
                </div>
                <div class="content-card">
                   <span class="fs-14 fw-600 margin-10">LEGEND</span>
                   <br>
                   <span class="fw-500">Concentration of Facilities:  <br></span>
                   <label class="label map-high-conc" >&#9679;</label> High
                   <label class="label map-moderate-conc">&#9679;</label> Moderate
                   <label class="label map-low-conc" >&#9679;</label> Low<br>
                </div>
                <div>
                    <a ui-sref="filtering" class="col-xs-12 login-btn login-btn-primary margin-t-20">
                        <h4 class="fw-500"><i class="fa fa-eye"></i> VIEW ALL FACILITIES</h4>
                    </a>
                </div>
           </div>
            <div class="col-xs-12">
                <h4 class="fw-500 pad-t-50">Quick Help</h4>
                <hr>
                <div  class="content-card">
                    <accordion>
                        <accordion-group is-open="drilldown.open">
                            <accordion-heading>
                                Drilldown <i class="pull-right fa" ng-class="{'fa-chevron-down': drilldown.open, 'fa-chevron-right': !drildown.open}"></i>
                            </accordion-heading>
                            <div class="col-sm-4 margin-t-50 border-gray">Click inside the map to drill down</div>
                            <img class="col-sm-8" src="/assets/images/drilldown.gif" alt="drilldown">
                        </accordion-group>
                        <accordion-group is-open="unit.open">
                            <accordion-heading>
                                View unit names <i class="pull-right fa" ng-class="{'fa-chevron-down': unit.open, 'fa-chevron-right': !unit.open}"></i>
                            </accordion-heading>
                            <div class="col-sm-4 margin-t-20">Hover on the blue markers to show the adminstrative unit name</div>
                            <img class="col-sm-8" src="/assets/images/hover.gif" alt="drilldown">
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
        <div class="col-md-8 margin-b-10">
           <div ng-if="spinner">
                <div class="map-change-state">
                    <div class="loader"></div>
                    <div class="row">
                        <h3 class="text-center loader-text">Please wait...</h3>
                    </div>
                </div>
           </div>
           <div ng-if="!spinner">
                <leaflet
                    id="countrymap"
                    defaults="defaults"
                    width="100%"
                    markers="markers"
                    layers="layers"
                    geojson-watch-options="{doWatch:true,isDeep:false,individual:{doWatch:true,isDeep: false}}"
                    geojson="geojson"
                    event-broadcast="events"
                    height="80vh">
                </leaflet>
           </div>
        </div>