<div class="col-md-4 col-xs-12 margin-15 anim-slide-below-fade">
    <div class="content-card">
        <h4>NAVIGATION</h4>
        <a ui-sref="gis" ui-sref-opts="{reload: true}">KENYA /</a><br>
        &nbsp;&nbsp;<a ui-sref="gis_county({county_code:county_code})" ui-sref-opts="{reload: true}">{{ward.meta.county_name}} /</a><br>
        &nbsp;&nbsp;&nbsp;&nbsp;<a ui-sref="gis_county.gis_const({county_code:county_code,constituency_code:constituency_code})" ui-sref-opts="{reload: true}">{{ward.meta.constituency_name}} /</a><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a ui-sref="gis_county.gis_const.gis_ward({county_code:county_code,constituency_code:constituency_code,ward_code:ward_code})">{{ward.meta.ward_name}}</a><br>
    </div>
    <div class="col-xs-12 content-card">
       <span class="margin-10">LEGEND</span>
       <br>
       <span class="fs-500">Concentration of Facilities:   <br></span>
       <label class="label map-high-conc" >&#9679;</label> High
       <label class="label map-moderate-conc">&#9679;</label> Moderate
       <label class="label map-low-conc" >&#9679;</label> Low <br>
    </div>

    <div ng-show="facility_count > 0 ? true:false">
        <a ui-sref="facility_filter.results({ward:ward.properties.ward_id})" class="col-xs-12 login-btn login-btn-primary margin-t-20">
            <h4><i class="fa fa-eye"></i> VIEW THE {{facility_count}} FACILITIES</h4>
        </a>
    </div>
</div>
<div class="col-md-7 col-xs-12 margin-b-10 anim-fade">
    <div ng-if="!spinner" class="col-xs-12 content-card margin-t-15">
        <h4 class="fw-500">{{ward.properties.name}} WARD <span class="pull-right">{{facility_count}} facilities</span></h4>
    </div>
    <div ng-if="alert" class="col-xs-12 alert alert-danger">
      <p class="lead fs-16">{{alert}}</p>
    </div>
    <leaflet class="col-xs-12 pad-r-0 pad-l-0" id="wardmap"
        width="100%"
        defaults="defaults"
        markers="markers"
        layers="layers"
        geojson="geojson"
        markers-watch-options="{doWatch:true,isDeep:false,individual:{doWatch:false,isDeep: false}}"
        geojson-watch-options="{doWatch:true,isDeep:false,individual:{doWatch:false,isDeep: false}}"
        height="80vh">
    </leaflet>
</div>
