<div class="row margin-b-20 margin-t-10" id="search_frm_div" >
<div class="col-xs-12">

    <div class="col-md-4 col-xs-12 content-card pad-l-5 left-col">
        <h4>
            <span class="left-ttl-hidden">Advanced Search</span>
            <span class="pull-right" title="Hide/show advanced search" sidebar-toogle="#search_frm_div">
                <i class="fa fa-chevron-circle-left text-blue menu-toggle-btn"></i>
            </span>
        </h4>
        <div class="col-xs-12 facet-detail-content pad-5 left-col-content">
            <form ng-submit="filterFacilities()" name="frm_filter_facilities">

                <div class="form-group results-card">
                    <label class="fw-500 fs-14">Search all facilities</label>
                    <input placeholder="Search all facilities" type="text" class="form-control" ng-model="filters.single.search" id="search" name="search" autofocus />
                </div>
                  <div class="form-group results-card">
                    <label class="fw-500 fs-14">Search facility services</label>
                    <input placeholder="Search services" type="text" class="form-control" ng-model="filters.single.service_name" id="service_name" name="service_name"/>
                </div>

                <div class="col-xs-12 results-card margin-b-10">
                    <span class="text-muted fs-16">Facility Info</span>
                    <div class="form-group">
                        <label class="fw-500 fs-14">Facility Name</label>
                        <input placeholder="Facility Name" type="text" class="form-control" ng-model="filters.single.name" id="name" name="name"/>
                    </div>
                    <div class="form-group">
                        <label class="fw-500 fs-14">Facility Code</label>
                        <input placeholder="Facility Code" type="text" class="form-control" ng-model="filters.single.code" id="code" name="code"/>
                    </div>
                </div>

                <div class="col-xs-12 results-card margin-b-10">
                    <span class="text-muted fs-16">Administrative Unit</span>
                    <div class="form-group fs-14">
                        <label class="fw-500 fs-14">County</label>
                        <ui-select ng-model="filters.multiple.county" multiple id="county" name="county">
                            <ui-select-match placeholder="Select a county...">
                                <span>{{$item.name}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="county in filter_summaries.county | filter:$select.search | orderBy:'name'">
                                <span>{{county.name}}</span>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="form-group fs-14">
                        <label class="fw-500 fs-14">Sub-County</label>
                        <ui-select ng-model="filters.multiple.sub_county" multiple ng-disabled="filters.multiple.county.length==0" id="sub_county" name="sub_county">
                            <ui-select-match placeholder="Select a sub county...">
                                <span>{{$item.name}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="sub in filter_summaries.sub_county | filter:filterFxns.subFilter | filter:$select.search | orderBy:'name'">
                                <span>{{sub.name}}</span>
                            </ui-select-choices>
                        </ui-select>
                    </div>


                    <div class="form-group fs-14">
                        <label class="fw-500 fs-14">Constituency</label>
                        <ui-select ng-model="filters.multiple.constituency" multiple ng-disabled="filters.multiple.county.length==0" id="constituency" name="constituency">
                            <ui-select-match placeholder="Select a sub constituency...">
                                <span>{{$item.name}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="const in filter_summaries.constituency | filter:filterFxns.constFilter | filter:$select.search | orderBy:'name'">
                                <span>{{const.name}}</span>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="form-group fs-14">
                        <label class="fw-500 fs-14">Ward</label>
                        <ui-select ng-model="filters.multiple.ward" multiple ng-disabled="filters.multiple.constituency.length==0" id="ward" name="ward">
                            <ui-select-match placeholder="Select a ward...">
                                <span>{{$item.name}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="ward in filter_summaries.ward | filter:filterFxns.wardFilter | filter:$select.search | orderBy:'name'">
                                <span>{{ward.name}}</span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                    <div class="col-xs-12 results-card margin-b-10">
                    <span class="text-muted fs-16">Services</span>

                 <div class="form-group fs-14">
                        <label  class="fw-500">Facility Service Category</label>
                        <ui-select ng-model="filters.multiple.service_category" multiple id="service_category" name="service_category">
                            <ui-select-match placeholder="Select a service category...">
                                <span>{{$item.name}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="os in filter_summaries.service_category | filter:$select.search | orderBy:'name'">
                                <span>{{os.name}}</span>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="form-group fs-14">
                        <label  class="fw-500">Service</label>
                        <ui-select ng-model="filters.multiple.service" multiple id="service" name="service">
                            <ui-select-match placeholder="Select a service...">
                                <span>{{$item.name}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="serv in filter_summaries.service | filter:filterFxns.serviceFilter | filter:$select.search | orderBy:'name'">
                                <span>{{serv.name}}</span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>


                <div class="col-xs-12 results-card margin-b-10">
                    <div class="form-group">
                        <p class="text-muted fs-16">Facility Details</p>

                        <div class="form-group fs-14">
                            <label  class="fw-500">KEPH Level</label>
                            <ui-select ng-model="filters.multiple.keph_level" multiple id="keph_level" name="keph_level">
                                <ui-select-match placeholder="Select a KEPH Level ...">
                                    <span>{{$item.name}}</span>
                                </ui-select-match>
                                <ui-select-choices repeat="kl in filter_summaries.keph_level | filter:$select.search | orderBy:'name'">
                                    <span>{{kl.name}}</span>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="form-group fs-14">
                            <label  class="fw-500">Facility Type</label>
                            <ui-select ng-model="filters.multiple.facility_type" multiple id="facility_type" name="facility_type">
                                <ui-select-match placeholder="Select a facility type...">
                                    <span>{{$item.name}}</span>
                                </ui-select-match>
                                <ui-select-choices repeat="ft in filter_summaries.facility_type | filter:$select.search | orderBy:'name'">
                                    <span>{{ft.name}}</span>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="form-group fs-14">
                            <label  class="fw-500">Facility Owner Category</label>
                            <ui-select ng-model="filters.multiple.owner_type" multiple id="owner_type" name="owner_type">
                                <ui-select-match placeholder="Select a facility owner category...">
                                    <span>{{$item.name}}</span>
                                </ui-select-match>
                                <ui-select-choices repeat="ot in filter_summaries.owner_type | filter:$select.search | orderBy:'name'">
                                    <span>{{ot.name}}</span>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="form-group fs-14">
                            <label  class="fw-500">Facility Owner</label>
                            <ui-select ng-model="filters.multiple.owner" multiple>
                                <ui-select-match placeholder="Select a facility owner..." id="owner" name="owner">
                                    <span>{{$item.name}}</span>
                                </ui-select-match>
                                <ui-select-choices repeat="ot in filter_summaries.owner | filter:filterFxns.ownerFilter | filter:$select.search | orderBy:'name'">
                                    <span>{{ot.name}}</span>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="form-group fs-14">
                            <label  class="fw-500">Operation Status</label>
                            <ui-select ng-model="filters.multiple.operation_status" multiple id="operation_status" name="operation_status">
                                <ui-select-match placeholder="Select a operation status...">
                                    <span>{{$item.name}}</span>
                                </ui-select-match>
                                <ui-select-choices repeat="os in filter_summaries.operation_status | filter:$select.search | orderBy:'name'">
                                    <span>{{os.name}}</span>
                                </ui-select-choices>
                            </ui-select>
                        </div>


                        <div class="form-group">
                            <div class="col-xs-8 pad-l-5">
                                <div class="checkbox">
                                    <label class="fw-600 fs-14 text-black">
                                        <input type="checkbox" id="number_of_beds" name="number_of_beds" ng-model="filters.single.number_of_beds"
                                            ng-true-value="'true'" ng-false-value="'false'" indeterminate-value/>
                                        Has Beds
                                     </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-8 pad-l-5">
                                <div class="checkbox">
                                    <label class="fw-600 fs-14 text-black">
                                        <input type="checkbox" id="number_of_cots" name="number_of_cots" ng-model="filters.single.number_of_cots"
                                            ng-true-value="'true'" ng-false-value="'false'" indeterminate-value/>
                                         Has Cots
                                     </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-xs-12 results-card margin-b-10">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-9"><p class="text-muted fs-16">Availability</p></div>
                            <div class="col-xs-3">
                                <a ng-if="filters.single.open_public_holidays!==''||filters.single.open_weekends!==''||filters.single.open_whole_day!==''"
                                    style="text-align:right;display:block;" href ng-click="bool_clear()">
                                    Clear
                                </a>
                            </div>
                        </div>

                        <div class="col-xs-8 pad-l-5">
                            <div class="checkbox">
                                <label class="fw-500 fs-14 text-black">
                                    <input type="checkbox" id="open_public_holidays" name="open_public_holidays" ng-model="filters.single.open_public_holidays"
                                        ng-true-value="'true'" ng-false-value="'false'" indeterminate-value />
                                     Open Public Holidays
                                 </label>
                            </div>
                        </div>

                        <div class="col-xs-8 pad-l-5">
                            <div class="checkbox">
                                <label class="fw-600 fs-14 text-black">
                                    <input type="checkbox" id="open_weekends" name="open_weekends" ng-model="filters.single.open_weekends"
                                        ng-true-value="'true'" ng-false-value="'false'" indeterminate-value />
                                     Open Weekends
                                 </label>
                            </div>
                        </div>

                        <div class="col-xs-8 pad-l-5">
                            <div class="checkbox">
                                <label class="fw-600 fs-14 text-black">
                                    <input type="checkbox" id="open_whole_day" name="open_whole_day" ng-model="filters.single.open_whole_day"
                                        ng-true-value="'true'" ng-false-value="'false'" indeterminate-value/>
                                     Open 24 Hours
                                 </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 margin-t-10">
                    <button class="login-btn login-btn-primary margin-l--10" type="submit">
                        <i class="fa fa-search"></i> Search
                    </button>
                    <button type="reset" class="login-btn login-btn-primary margin-l-5" ng-click="clearFilters()"> <i class="fa fa-refresh"></i> Reset</button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-8 col-xs-12 center-col" ui-view="results" autoscroll>
        <div class="content-card margin-t-10">
            <p class="lead text-center margin-t-10">Use the form on the left to filter facilities or <a class="fw-600" ui-sref=".results">view all facilities</a></p>
        </div>
    </div>
</div>
</div>
