<!DOCTYPE html>
<html ng-app="mflwebApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <title ng-bind="$state.current.data.pageTitle"></title>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
  </head>
  <body>
      <div ui-view="header"></div>
        <!--End of header-->
        <div ui-view="main" class="content margin-t--27"></div>
        <footer>
            <p class="text-center"> &copy; Copyright <span ui-view="footer"></span> by <a href="http://health.go.ke/" target="_blank">Ministry of Health</a> All Rights Reserved.Powered by <a href="http://savannahinformatics.com/" target="_blank">Savannah Informatics Limited</a> </p>
        </footer>
    <!-- compiled JavaScript -->
    <% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
  </body>
</html>
