<!DOCTYPE html>
<!--[if lt IE 10]>
    <html lang="en" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>MFL v2</title>
            <% styles.forEach( function ( file ) { %>
            <link rel="icon"  href="assets/img/kenya-coat-of-arms.png" />
            <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
        </head>
        <div style="padding:100px 50px 50px 50px">
            <h1><strong>Kenya Master Health Facility List:</strong></h1>
            <h1>Your browser is not supported. Please update your browser.</h1>
               <h2>You may also install any of the following supported browsers:</h2>
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="col-sm-3 row-fluid">
                           <a target="blank" href="http://www.google.com/chrome/"><i class="sprite sprite-chrome"></i></a>
                            Chrome
                        </div>
                        <div class="col-sm-3 row-fluid">
                           <a target="blank" href="https://www.mozilla.org/en-US/firefox/new/"><i class="sprite sprite-firefox"></i></a>
                            Firefox
                        </div>
                        <div class="col-sm-3 row-fluid">
                           <a target="blank" href="http://windows.microsoft.com/en-us/internet-explorer/download-ie"><i class="sprite sprite-ie"></i></a>
                            Internet Explorer
                        </div>
                        <div class="col-sm-3 row-fluid">
                           <a target="blank" href="http://www.opera.com/computer"><i class="sprite sprite-opera"></i></a>
                            Opera
                        </div>
                    </div>
                </div>
        </div>
<![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en" ng-app="mflwebApp" >
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta  name='keywords' content="Master Facility List, MFL, MFL v2, KMHFL, KMFL, Kenya Master Health Facility List,
    kenya Master Faiclity List, Hospitals in Kenya, Pharmacies in Kenya, Laboratories in Kenya, Health Facilities in Kenya "/>
     <title>Kenya Master Health Facility List: Find all the health facilities in Kenya</title>
    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="icon"  href="assets/img/kenya-coat-of-arms.png" />
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
     <script>
        function weka_copyright_year(){
          var today = new Date();
          var year = today.getUTCFullYear();
          document.getElementById('year').textContent = year;
        };

  </script>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65771802-2', 'auto');
  ga('send', 'pageview');

</script>

  </head>

<!--<![endif]-->
  <body onload='weka_copyright_year()'>
      <div>
        <nav class="header text-white navbar navbar-default">
          <div class="row">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" ui-sref="home">
                <span class="pull-left">
                <img class="img-responsive pull-left" src="assets/img/kenya-coat-of-arms.png" style="height : 45px; width : 45px; margin-top:-10px;">
                </span>
                <span class="hidden-xs">Kenya Master Health Facility List</span>
                <span class="fs-16 visible-xs">
                  KMHFL
                </span>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right header-color">
                <li ui-sref-active="active" >
                  <a ui-sref="home">Home</a>
                </li>
                <li ui-sref-active="active" >
                  <a ui-sref="facility_filter">Find Facilities</a>
                </li>
                <li ui-sref-active="active" class="hidden-sm hidden-xs">
                  <a ui-sref="gis">Facility Geolocator</a>
                </li>
                <li ui-sref-active="active">
                  <a ui-sref="chul_filter">Find Community Health Units</a>
                </li>
                <li ui-sref-active="active" >
                  <a target="_blank" href="http://mfl-public.readthedocs.org/en/latest/#"> Help</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="alert alert-warning col-sm-6 col-sm-offset-3 col-xs-12 hidden" id="conn_error" ng-cloak>
          <p>Error connecting to server. Retrying in {{reload_timeout || 0}} seconds. <a href="javascript:window.location.reload()" title="Retry now">Retry now</a></p>
        </div>
      </div>

      <div ui-view="main" class="content anim-in-out anim-slide-below-fade" ng-animate-children data-anim-sync="true" data-anim-speed="100">
          <div>
              <div class="main-ui-view-loader">
                  <div class="loader"></div>
                  <div class="row">
                      <h3 class="text-center loader-text">Please wait...</h3>
                  </div>
              </div>
          </div>
      </div>

      <footer class="footer pad-0">
          <div class="container-fluid pad-0">
            <div class="row">
              <div class="col-xs-12">
                <div class="col-xs-12 margin-t-15 text-left">
                    <div class="col-md-6 col-xs-12">
                      <h4 class="fs-18 lato-light fw-500">
                        Contact Us
                      </h4>
                      <p class="fs-14 text-white">
                        <i class="fa fa-phone"></i> Phone: +254-20-2717077
                      </p>
                      <p class="fs-14 text-white">
                        <i class="fa fa-envelope"></i> For more information: servicedesk@health.go.ke / kmhfl@health.go.ke
                      </p>
                      <p class="fs-14 text-white">
                        <i class="fa fa-globe"></i> Helpdesk website:
                      <a href="http://servicedesk.health.go.ke/portal" target="_blank">
                        servicedesk.health.go.ke/portal
                      </a>
                      </p>
                    </div>
                    <div class="col-md-6 col-xs-12">
                      <h4 class="fs-18 lato-light fw-500">
                        Quick Links
                      </h4>
                      <p class="fs-14 text-white">
                        <i class="fa fa-globe"></i> Ministry of Health:
                        <a href="http://www.health.go.ke" target="_blank">
                          health.go.ke
                        </a>
                      </p>
                    </div>
                </div>
              </div>
            </div>
            <div class="copy-right col-xs-12 margin-t-30">
              <div class="col-xs-12">
                <p class="text-left fs-13 margin-t-15 margin-b-10">
                  &copy; Copyright <span id="year"></span>,
                  <a href="http://health.go.ke/" target="_blank">
                    Republic of Kenya, Ministry of Health
                  </a>
                </p>
              </div>
            </div>
          </div>
      </footer>
    <!-- compiled JavaScript -->
    <% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
    <script src="https://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
  </body>
</html>
